In [1]:
a = 5

In [2]:
a

5

In [3]:
a = [2,4]

In [4]:
a

[2, 4]

In [5]:
a = 10

In [6]:
a

10

In [14]:
a = a + a

In [15]:
a

80

In [16]:
type(a)

int

In [17]:
a = 10.3

In [18]:
type(a)

float

In [19]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [20]:
my_taxes

10.0

In [21]:
print('Hello \tworld')

Hello 	world

In [22]:
print('Hello \nworld')

Hello
world

In [23]:
len('Hello')

5

In [24]:
len("i am")

4

In [1]:
mystring ="Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [4]:
mystring[8]

'r'

In [5]:
mystring[-2]

'l'

In [6]:
mystring[-3]

'r'

In [8]:
mystring = 'abcdefghijk'

In [9]:
mystring[2:]

'cdefghijk'

In [10]:
mystring[::]

'abcdefghijk'

In [11]:
mystring[:4]

'abcd'

In [12]:
mystring[:6:2]

'ace'

In [13]:
mystring[1:3]

'bc'

In [15]:
mystring[-1:]

'k'

In [16]:
mystring[::-1]

'kjihgfedcba'

In [17]:
mystring[::3]

'adgj'

In [18]:
name = "Sam"

In [20]:
#name[0] = 'P'
last_letters = name[1:]

In [21]:
last_letters

'am'

In [22]:
new_name = 'P' + last_letters

In [23]:
new_name

'Pam'

In [35]:
x = 'Hello World'

In [40]:
 x = x + ' It is beautiful outside'

In [41]:
x

'Hello World It is beautiful outside It is beautiful outside It is beautiful outside'

In [42]:
letter = 'z'

In [43]:
letter * 10

'zzzzzzzzzz'

In [44]:
2 + 3

5

In [45]:
'2' + '3'

'23'

In [46]:
x = 'Hello World'

In [50]:
x.replace('bye bye','aydin')

'Hello World'

In [51]:
x

'Hello World'

In [52]:
x.upper()

'HELLO WORLD'

In [53]:
x.lower()

'hello world'

In [54]:
x.split()

['Hello', 'World']

In [55]:
x = 'Hi this is a string'

In [56]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [57]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [60]:
file_name =input('Provide your file name')
file_extn = file_name.split('.')
print('The extension of the file is: ' + repr(file_extn[-1]))

Provide your file nameabc.java
The extension of the file is: 'java'

In [66]:
class Teacher():
    def __init__(self,name):
        self.name = name
        self.students = []
        
    def add_student(self,student):
        self.students.append(student)
        
    def __str__(self):
        return (f'Name of teacher = {self.name} and number of students in class are {len(self.students)}')
    
    def __len__(self):

In [67]:
class Student():
    def __init__(self,name):
        self.name = name
    def __str__(self):
        return (f'Name of the student is {self.name}')

In [73]:
teacher1 = Teacher('Miss Barrett')

In [74]:
print(teacher1)

Name of teacher = Miss Barrett and number of students in class are 0

In [75]:
student1 = Student('Aydin')

In [76]:
print(student1)

Name of the student is Aydin

In [77]:
print(teacher1)

Name of teacher = Miss Barrett and number of students in class are 0

In [78]:
teacher1.add_student(student1)

In [79]:
print(teacher1)

Name of teacher = Miss Barrett and number of students in class are 1

In [92]:
class Parents():
    def __init__(self,name):
        self.name = name
        self.child = []
        
    def add_children(self,children):
        self.child.append(children)
        
    def __str__(self):
        return (f'Parent {self.name} has {len(self.child)} children')

In [93]:
class Children():
    def __init__(self,name):
        self.name = name
    def __str__(self):
        return (f'Name of the child is {self.name}')

In [94]:
parent1 = Parents('Sabina')
print(parent1)

Parent Sabina has 0 children

In [95]:
child1 = Children('Aydin')
print(child1)

Name of the child is Aydin

In [96]:
parent1.add_children(child1)

In [97]:
print(parent1)

Parent Sabina has 1 children

In [98]:
parent2 = Parents('Kaish')

In [99]:
child2 = Children('Umer')
child3 = Children('Abu')
child4 = Children('New')

In [100]:
parent2.add_children(child2)

In [101]:
parent2.add_children(child3)

In [102]:
parent2.add_children(child4)

In [103]:
print(parent2)

Parent Kaish has 3 children

In [111]:
print('The {b} {f} is {q}'.format(f ='fox',b='brown',q ='quick'))
#assign them key words

The brown fox is quick

In [112]:
result =100/777

In [120]:
result = 104.123456

In [123]:
print('The result is: {r:20.3f}'.format(r = result))

The result is:              104.123

In [125]:
print('{0:*>10} | {1:*^10}'.format('Fruit','Quantity'))
print('{0:/>10} | {1:/^10}'.format('Oranges',6))
print('{0:/>10} | {1:/^10}'.format('Apples',6))

*****Fruit | *Quantity*
///Oranges | ////6/////
////Apples | ////6/////

In [126]:
print('{0:*>10} | {1:*^10} | {2:*<10}'.format('Name','Gender','Age'))
print('{0:/>10} | {1:/^10} | {2:*<10}'.format('Monsur','Male',36))
print('{0:/>10} | {1:/^10} | {2:*<10}'.format('Sabina','Female',30))

******Name | **Gender** | Age*******
////Monsur | ///Male/// | 36********
////Sabina | //Female// | 30********

In [127]:
def upper_lower(name):
    result = ""
    for index,letter in enumerate(name):
        if index%2 == 0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
    return result

In [128]:
upper_lower('Aphrodite')

'ApHrOdItE'

In [130]:
def odd_even(mylist):
    result = []
    for i in mylist:
        if i % 2 == 0:
            result.append(0)
        else:
            result.append(1)
    return result

In [131]:
l = [1.5,9,6,4]

In [132]:
odd_even(l)

[1, 1, 0, 0]

In [133]:
def length(mylist):
    result = []
    for i in mylist:
        output = len(i)
        result.append(output)
    return result

In [134]:
l = ['Aydin','Sabina']

In [135]:
length(l)

[5, 6]

In [136]:
def even_odd(mylist):
    result = []
    for i in mylist:
        x = i.upper()
        y = i.lower()
        if len(i)% 2== 0:
            result.append(x)
        else:
            result.append(y)
    return result

In [137]:
l = ['Kuku','Lui','Kilop','Kilome']

In [138]:
even_odd(l)

['KUKU', 'lui', 'kilop', 'KILOME']

In [141]:
#pick evens
def myfunc(*args):
    result = []
    for item in args:
        if item % 2 == 0:
            result.append(item)
    return result

In [143]:

myfunc(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

In [144]:
def square_root(mylist):
    result = []
    for i in mylist:
        if i%2 == 0:
            result.append(i**2)
        else:
            result.append(i**0.5)
    return result

In [145]:
l = [2,3,4,5,6]

In [146]:
square_root(l)

[4, 1.7320508075688772, 16, 2.23606797749979, 36]

In [148]:
def get_even(numbers):
    result = []
    for i in numbers:
        if i%2 == 0:
            result.append(i)
    return result

In [149]:
l = range(15)
get_even(l)

[0, 2, 4, 6, 8, 10, 12, 14]

In [150]:
def double_item(numbers):
    result = []
    for i in numbers:
        result.append(i)
        result.append(i)
    return result

In [151]:
l = [1,2,3,4]

In [152]:
double_item(l)

[1, 1, 2, 2, 3, 3, 4, 4]

In [153]:
def double_nums(numbers):
    result = []
    for i in numbers:
        result.append(i)
        result.append(i)
    return result

In [154]:
l = [2,4,5,6,7]

In [155]:
double_nums(l)

[2, 2, 4, 4, 5, 5, 6, 6, 7, 7]

In [156]:
def num_square(numbers):
    result = []
    for i in numbers:
        result.append(i)
        result.append(i**2)
    return result

In [157]:
mylist = [1,2,3,4,5]

In [158]:
num_square(mylist)

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [159]:
def lesser_of_two_events(a,b):
    if a%2==0 and b%2==0:
        if a > b:
            result = b
        else:
            result = a
    else:
        if a > b:
            result = a
        else:
            result = b
    return result

In [160]:
lesser_of_two_events(2,4)

2

In [161]:
lesser_of_two_events(5,7)

7

In [162]:
lesser_of_two_events(2,5)

5

In [174]:
def animal_cracker(text):
    wordlist = text.upper().split()
    return wordlist[0][0] == wordlist[1][0]

In [175]:
animal_cracker('Levelheaded Llama')

True

In [176]:
animal_cracker('Crazy Kangaroo')

False

In [177]:
animal_cracker('Crazy cat')

True

In [178]:
animal_cracker('Adorable aydin')

True

In [179]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [180]:
makes_twenty(20,10)

True

In [181]:
makes_twenty(10,10)

True

In [182]:
makes_twenty(3,5)

False

In [183]:
def old_macdonald(text):
    first = text[:3]
    second = text[3:]
    return first.capitalize() + second.capitalize()

In [184]:
old_macdonald('macdonald')

'MacDonald'

In [185]:
old_macdonald('sabina')

'SabIna'

In [186]:
def old_macdonald(text):
    first = text[0]
    second = text[1:3]
    third = text[3]
    rest = text[4:]
    return first.upper() + second.lower() + third.upper() + rest.lower()

In [187]:
old_macdonald('macdonald')

'MacDonald'

In [190]:
def master_yoda(text):
    wordlist = text.upper().split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [191]:
master_yoda('I am here')

'HERE AM I'

In [192]:
master_yoda('We are ready')

'READY ARE WE'

In [193]:
def almost_there(n):
    return (abs(100 - n) <=10) or (abs(200-n) <= 10)

In [194]:
almost_there(90)

True

In [195]:
almost_there(104)

True

In [196]:
almost_there(209)

True

In [197]:
almost_there(140)

False

In [198]:
 def has_33(nums):
        for i in range(len(nums)-1):
            if nums[i] == 3 and nums[i+1] == 3:
                return True
        return False

In [199]:
has_33([1,3,3])

True

In [200]:
has_33([1,3,1,3])

False

In [201]:
has_33([3,1,3])

False

In [202]:
def paper_doll(text):
    result = ''
    for i in text:
        result = result + i*3
    return result

In [203]:
paper_doll('Hello')

'HHHeeellllllooo'

In [204]:
mylist = ['one','two','three']

In [205]:
another_list = ['four','five']

In [206]:
new_list = mylist +another_list

In [207]:
new_list

['one', 'two', 'three', 'four', 'five']

In [208]:
new_list[1] = 'NEW TWO'

In [209]:
new_list

['one', 'NEW TWO', 'three', 'four', 'five']

In [210]:
new_list.pop()

'five'

In [211]:
new_list.pop(2)

'three'

In [212]:
new_list

['one', 'NEW TWO', 'four']

In [213]:
new_list.append('five')

In [214]:
new_list

['one', 'NEW TWO', 'four', 'five']

In [215]:
new_list = ['a','e','n','b','c']

In [219]:
 new_list.sort()

type(sorted_list)

In [218]:
type(sorted_list)

NoneType

In [220]:
new_list.sort()

In [222]:
sorted_list = new_list

In [223]:
sorted_list

['a', 'b', 'c', 'e', 'n']

In [224]:
num_list =[4,7,1,2]

In [227]:
num_list.sort()

In [228]:
num_list

[1, 2, 4, 7]

In [229]:
mylist = ['a','b','c','d']

In [230]:
mylist.reverse()

In [231]:
mylist

['d', 'c', 'b', 'a']

In [232]:
print('Wakey %s, eggs and %s'%('wakey','bakey'))

Wakey wakey, eggs and bakey

In [234]:
h = [1,1,[1,2]]

In [235]:
h[2][1]

2

In [236]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [238]:
prices_lookup['apple']

2.99

In [239]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [240]:
d['k2']

[0, 1, 2]

In [241]:
d['k2'][2]

2

In [242]:
d['k3']['insidekey']

100

In [243]:
d = {'key1':['a','b','c']}

In [244]:
d

{'key1': ['a', 'b', 'c']}

In [245]:
d['key1'][2].upper()

'C'

In [246]:
d

{'key1': ['a', 'b', 'c']}

In [247]:
letter = d['key1'][2]

In [248]:
letter

'c'

In [249]:
letter.upper()

'C'

In [250]:
d = {'k1':100 , 'k2':200}

In [251]:
d

{'k1': 100, 'k2': 200}

In [252]:
d['k3'] = 300

In [253]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [254]:
d['k1'] = 'NEW VALUE'

In [255]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [256]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [258]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [259]:
d.values()

dict_values([100, 200, 300])

In [260]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [261]:
d = {'aydinage':6, 'sabinaage':30, 'monsurage':36}

In [262]:
d

{'aydinage': 6, 'sabinaage': 30, 'monsurage': 36}

In [263]:
t =(1,2,3)

In [264]:
mylist = [1,2,3]

In [265]:
mylist[1] = 3

In [266]:
mylist

[1, 3, 3]

In [267]:
len(t)

3

In [268]:
t[1]

2

In [269]:
t[-1]

3

In [270]:
t = ('a','a','b')

In [271]:
t.count('a')

2

In [272]:
t.index('a')

0

In [273]:
t.index('b')

2

In [274]:
len(t)

3

In [275]:
mylist[2] = 'New Value'

In [276]:
mylist

[1, 3, 'New Value']

In [277]:
t[1] = 'New Value'

TypeError: 'tuple' object does not support item assignment

In [278]:
myset = set()

In [279]:
myset

set()

In [280]:
myset.add(1)

In [281]:
myset

{1}

In [282]:
myset.add(2)

In [283]:
myset

{1, 2}

In [284]:
myset.add(2)

In [285]:
myset

{1, 2}

In [286]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,4]

In [287]:
set(mylist)

{1, 2, 3, 4}

In [288]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [289]:
%%writefile myfile.txt
Hello this is a text file
This is the second line
This is the third line

Writing myfile.txt

In [290]:
pwd

'C:\\Users\\Sabina'

In [291]:
myfile = open('myfile.txt')

In [292]:
myfile = open('wrong_file.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wrong_file.txt'

In [293]:
myfile = open('myfile.txt')

In [294]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [295]:
myfile.read()

''

In [296]:
myfile.seek(0)

0

In [297]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [298]:
myfile.seek(0)

0

In [299]:
myfile.readline()

'Hello this is a text file\n'

In [301]:
myfile.seek(0)

0

In [302]:
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

In [303]:
myfile.seek(0)

0

In [304]:
myfile.close()

In [305]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [306]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [310]:
with open('myfile.txt') as new1_file:
    contents = new1_file.readlines()

In [311]:
contents

['Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

In [313]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [315]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [316]:
with open('myfile.txt',mode='a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [317]:
%%writefile aydin_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing aydin_file.txt

In [318]:
with open('aydin_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [319]:
with open('aydin_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [320]:
with open('aydin_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [321]:
with open('dhgfjhjhh.txt',mode='w') as f:
    f.write('I CREATED THIS FILE')

In [322]:
with open('dhgfjhjhh.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE

In [323]:
with open('tesla.txt',mode='w') as x:
    x.write('Hello World')

In [324]:
with open('tesla.txt',mode='r') as x:
    print(x.read())

Hello World

In [325]:
2**2

4

In [326]:
8**0.5

2.8284271247461903

In [327]:
l = [0,0,0]

In [328]:
l

[0, 0, 0]

In [329]:
l = [0]*3

In [330]:
l

[0, 0, 0]

In [333]:
list3 = [1,2,[3,4,'hello']]

In [334]:
list3[2][2] = 'goodbye'

In [335]:
list3

[1, 2, [3, 4, 'goodbye']]

In [336]:
list4 = [5,3,4,6,1]

In [341]:
sorted_list = list4.sort()

In [343]:
sorted_list

In [344]:
type(sorted_list)

NoneType

In [345]:
None

In [346]:
d = {'simple_key' : 'hello'}

In [347]:
d['simple_key']

'hello'

In [348]:
d = {'k1':{'k2':'hello'}}

In [349]:
d['k1']['k2']

'hello'

In [350]:
d ={'k1':[{'nest_key':['this is deep',['hello']]}]}

In [357]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [358]:
d ={'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [362]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [363]:
3.0 == 3

True

In [364]:
4**0.5 != 2

False

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
3 != 3

False

In [7]:
4 != 5

True

In [8]:
2 > 1

True

In [9]:
1 >2

False

In [10]:
2 >= 2

True

In [12]:
100 == 1 or 2 == 200

False

In [13]:
not 1 == 1

False

In [14]:
 not 2!=3

False

In [16]:
not 400 > 5000

True

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for item in mylist:
    print(item , end =" ")

1 2 3 4 5 6 7 8 9 10

In [7]:
for i in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [8]:
for _ in mylist:
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [10]:
for i in mylist:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number: {i}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [11]:
list_sum = 0
for i in mylist:
    list_sum += i
print(list_sum)

55

In [12]:
list_sum = 0
for i in mylist:
    list_sum += i
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [17]:

for _ in  "Hello World":
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [18]:
tup = (1,2,3)

for i in tup:
    print(i)

1
2
3

In [19]:
mylist =[(1,2),(3,4),(5,6)]

In [20]:
for a,b in mylist:
    print(b)

2
4
6

In [21]:
len(mylist)

3

In [22]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [23]:
mylist =[(1,2,3),(4,5,6),(7,8,9)]

In [25]:
for i in mylist:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [26]:
for a,b,c in mylist:
    print(b)

2
5
8

In [27]:
d = {'k1':1,'k2':2,'k3':3}

In [30]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
for item in d.values():
    print(item)

1
2
3

In [33]:
for item in d.keys():
    print(item)

k1
k2
k3

In [36]:
for key,value in d.items():
    print(value)

1
2
3

In [39]:
x = 50
while x < 5:
    print(f'The current value of x is {x}')
    
    x = x+1
    
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

In [41]:
x =[1,2,3]

for item in x:
    pass
print('End of my script')

End of my script

In [42]:
mystring = "Sammy"

In [44]:
for letter in mystring:
    if letter == "a":
        continue
    print(letter)

S
m
m
y

In [48]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

In [51]:
x = 0

while x < 5:
    if x == 4:
        break
    print(x)
    x = x+1

0
1
2
3

In [52]:
mylist = [1,2,3]

In [56]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [57]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [59]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [63]:
word ='abcde'

for index,item in enumerate(word):
    print(item)
    print(index)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [9]:
mylist1 =[1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [10]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [11]:
#tuple unpacking
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [12]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [13]:
3 in [1,2,3]

True

In [17]:
'x' in [1,2,3]

False

In [18]:
'a' in 'a world'

True

In [19]:
'mykey' in {'mykey':123}

True

In [20]:
d = {'mykey': 345}

In [25]:
345 in d.values()

True

In [26]:
mylist = [10,20,30,40,100]

In [27]:
min(mylist)

10

In [28]:
max(mylist)

100

In [29]:
myset = set()

In [30]:
myset

set()

In [31]:
myset.add(1)

In [32]:
myset

{1}

In [33]:
myset.add(2)

In [34]:
myset

{1, 2}

In [36]:
myset.add(2)

In [37]:
myset

{1, 2}

In [38]:
from random import shuffle

In [39]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [40]:
shuffle(mylist)

In [41]:
mylist

[1, 4, 5, 8, 7, 3, 6, 2, 10, 9]

In [42]:
shuffle(mylist)

In [43]:
mylist

[6, 3, 4, 5, 8, 1, 10, 7, 2, 9]

In [44]:
type(mylist)

list

In [45]:
random_list = shuffle(mylist)

In [47]:
type(random_list)

NoneType

In [48]:
from random import randint

In [49]:
randint(0,100)

87

In [50]:
randint(0,100)

60

In [51]:
mynum = randint(0,100)

In [52]:
mynum

62

In [54]:
mynum

62

In [56]:
result = int(input('Enter a no: '))

Enter a no: 7

In [1]:
mylist = []

In [2]:
mylist.pop()

IndexError: pop from empty list