In [1]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [2]:
master_yoda('I am home')

'home am I'

In [3]:
master_yoda('My name is Sabina')

'Sabina is name My'

In [4]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter + rest

In [5]:
old_macdonald('macdonald')

'Macdonald'

In [6]:
def old_maccdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [7]:
old_macdonald('macdonald')

'Macdonald'

In [8]:
def upper_lower(name):
    result = ''
    
    for index,letter in enumerate(name):
        if index% 2 == 0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
            
    return result

In [9]:
upper_lower('gogogaga')

'GoGoGaGa'

In [10]:
l = [1,5,9,6,4]

In [11]:
def odd_even(numbers):
    result = []
    for item in numbers:
        if item%2 == 0:
            result.append(0)
        else:
            result.append(1)
    return result

In [12]:
odd_even([5,4,2])

[1, 0, 0]

In [13]:
l =['kuku', 'lul','kikop','kilome']

In [14]:
def length_of_string(mystrings):
    result = []
    
    for item in mystrings:
        long = len(item)
        
        result.append(long)
    return result

In [15]:
length_of_string(l)

[4, 3, 5, 6]

In [16]:
def up_down(inputdata):
    result = []
    
    for item in inputdata:
        x = item.upper()
        y = item.lower()
        output = len(item)
        if output%2 == 0:
            result.append(x)
        else:
            result.append(y)
            
    return result

In [17]:
up_down(l)

['KUKU', 'lul', 'kikop', 'KILOME']

In [18]:
mylist = [1,2,3,4,5,6,7,8]

In [19]:
def odd_even(numbers):
    result =[]
    for item in numbers:
        if item%2==0:
            result.append(0)
        else:
            result.append(1)
    return result

In [20]:
odd_even(mylist)

[1, 0, 1, 0, 1, 0, 1, 0]

In [21]:
mylist = ['kuku','sabina','aydin','monsur']

In [22]:
def length_of_string(mystring):
    result = []
    for item in mystring:
        output = len(item)
        
        result.append(output)
    return result

In [23]:
length_of_string(mylist)

[4, 6, 5, 6]

In [24]:
sum = 0
for item in range(10):
    sum = sum + item
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [25]:
sum = 0
for item in range(0,10,2):
    sum = sum + item
    print(sum)

0
2
6
12
20

In [26]:
mylist = ['kuku','lui','kaka','pui','maya']

In [27]:
def length_of_string(mystring):
    result = []
    for item in mystring:
        output = len(item)
        x = item.upper()
        y = item.lower()
        if output%2==0:
            result.append(x)
        else:
            result.append(y)
    return result

In [28]:
length_of_string(mylist)

['KUKU', 'lui', 'KAKA', 'pui', 'MAYA']

In [29]:
def upper_lower(name):
    result = ''
    
    for index,letter in enumerate(name):
        if index%2 == 0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
    return result

In [30]:
upper_lower('gogogaga')

'GoGoGaGa'

In [31]:
l = [2,5,7,8,9,4]

In [32]:
def odd_even(numbers):
    result = []
    
    for item in numbers:
        if item%2 == 0:
            result.append(0)
        else:
            result.append(1)
    return result

In [33]:
odd_even(l)

[0, 1, 1, 0, 1, 0]

In [34]:
mylist = ['sabina','aydin','monsur','kalu']

In [35]:
def length_of_string(mystring):
    result = []
    
    for item in mystring:
        output = len(item)
        
        result.append(output)
    return result

In [36]:
length_of_string(mylist)

[6, 5, 6, 4]

In [37]:
def myfunc(*args):
    result = []
    for item in args:
        if item%2 == 0:
            result.append(item)
    return result

In [38]:
myfunc(2,5,6,7,9,25,13)

[2, 6]

In [39]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [40]:
almost_there(106)

True

In [41]:
almost_there(250)

False

In [42]:
def master_yoda(mystring):
    for letter in mystring:
        wordlist = mystring.split()
        reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [43]:
master_yoda('I am here')

'here am I'

In [44]:
master_yoda('We are ready')

'ready are We'

In [45]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 ==20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [46]:
makes_twenty(10,10)

True

In [47]:
makes_twenty(15,5)

True

In [48]:
makes_twenty(2,3)

False

In [49]:
def animal_crackers(text):
    wordlist = text.split()
    
    return wordlist[0][0]=wordlist[1][0]

SyntaxError: invalid syntax (<ipython-input-49-b2d0c04c5996>, line 4)

In [ ]:
def animal_cracker(text):
    wordlist = text.lower().split()
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [ ]:
animal_cracker('Llama Levelheaded')

In [ ]:
animal_cracker('Cat kangaroo')

In [ ]:
animal_cracker('cat Car')

In [ ]:
def lesser_of_two_events(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            result = a
        else:
            result = b
            
    else:
        if a < b:
            result = b
        else:
            result = a
    return result

In [ ]:
lesser_of_two_events(2,4)

In [ ]:
lesser_of_two_events(2,5)

In [ ]:
mylist = [2,5,6,8,9,3]

In [ ]:
def square_cube(numbers):
    result=[]
    for item in numbers:                
        if item%2 == 0:
            x = item**2
            result.append(x)
        else:
            y= item**.5
            result.append(y)
    return result

In [ ]:
square_cube(mylist)

In [ ]:
mylist=range(15)

In [ ]:
def get_even(numbers):
    result = []
    
    for item in numbers:
        if item%2 == 0:
            result.append(item)
    return result

In [ ]:
get_even(mylist)

In [ ]:
mylist = [3,1,6,7]

In [ ]:
def double_item(numbers):
    result = []
    for item in numbers:
        result.append(item)
        result.append(item)
    return result

In [ ]:
double_item(mylist)

In [ ]:
def num_square(numbers):
    result = []
    for item in numbers:
        result.append(item)
        result.append(item*item)
    return result

In [ ]:
num_square(mylist)

In [ ]:
def paper_doll(text):
    result = ''
    
    for item in text:
        result = result + item*3
    return result

In [ ]:
paper_doll('Hello')

In [ ]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [ ]:
has_33([1,3,3])

In [ ]:
has_33([1,3,1,3])

In [ ]:
def has_funky_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [ ]:
has_funky_33([1,3,3,1])

In [ ]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) > 21:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [ ]:
blackjack(5,6,7)

In [ ]:
sum([1,2])

In [ ]:
sum([2,5])

In [ ]:
sum

In [ ]:
2(8)

In [ ]:
blackjack(9,9,9)

In [ ]:
blackjack(9,9,11)

In [ ]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([1,3,5])

In [ ]:
summer_69([4,5,6,7,8,9,11])

In [ ]:
summer_69([2,1,6,9,11])

In [ ]:
def monsur_69(numbers):
    result=0
    awbsan = False
    for item in numbers:
        if awbsan == False:
            if item==6:
                awbsan = True
            else:
                result= result+item
        else:
            if item == 9:
                awbsan = False
            
                
    return result

In [ ]:
monsur_69([4,5,6,7,8,9,1])

In [ ]:
def find_prime(number):
    
    for item in range(2,number):
        if number%item == 0:
            return False
    return True

In [ ]:
find_prime(25164894)

In [ ]:
find_prime(17)

In [ ]:
def find_prime(number):
    
    for item in range(2,number):
        if number%item == 0:
            print(number, 'is not prime')
    else:
            print(number, 'is prime')

In [ ]:
find_prime(17)

In [ ]:
# lambda expressions, map,filter-----> 12/12/18

In [ ]:
def square(number):
    return number**2

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
map(square,my_nums)

In [ ]:
for item in map(square,my_nums):
    print(item)

In [ ]:
list(map(square,my_nums))

In [ ]:
def splicer(mystring):
    
        if len(mystring)%2==0:
            return 'EVEN'
        else:
            return mystring[0]

In [ ]:
names= ['Andy','Eve','Sal']

In [ ]:
for item in map(splicer,names):
    print(item)

In [ ]:
list(map(splicer,names))

In [ ]:
#splicer doesnt needs () coz it is passed as arguement in map

In [ ]:
#filter---> true or false

In [ ]:
#either tranform into a list or iterate through it

In [ ]:
def get_even(number):
    return number%2==0

In [ ]:
mylist = [1,2,3,4,5,6]

In [ ]:
filter(get_even,mylist)

In [ ]:
for item in filter(get_even,mylist):
    print(item)

In [ ]:
list(filter(get_even,mylist))

In [ ]:
#lamda expression= annymous function== coz some functionality are used only one time

In [ ]:
square = lambda num: num**2

In [ ]:
square(5)

In [ ]:
list(map(lambda num:num**2,mylist))

In [ ]:
list(filter(lambda num:num%2==0,mylist))

In [ ]:
names

In [ ]:
list(map(lambda name:name[0],names))

In [ ]:
list(map(lambda name:name[::-1],names))

In [ ]:
x=''<<>>''

In [ ]:
b='Hello'

In [ ]:
b[::-1]

In [ ]:
b[-1:-2]

In [ ]:
b='Hello'

In [ ]:
b[-1:-3]

In [ ]:
b[-1]

In [ ]:
b[-2:]

In [ ]:
make_out_word('<<>>','Yay')

In [ ]:
<<>>[0:2]

In [ ]:
x = 'WooHoo'

In [ ]:
len(x)

In [ ]:
y = len(x)//2

In [ ]:
y

In [ ]:
x = 'Hello'

In [ ]:
x[-1]

In [ ]:
x[3:]

In [ ]:
x[-2:]

In [ ]:
def summer_69(arr):
    result = 0
    awbsan = False
    for item in arr:
        if awbsan == False:
            if item == 6:
                awbsan = True
            else:
                result = result + item
        else:
            if item == 9:
                awbsan = False
    return result

In [ ]:
summer_69([1,2,3,6,7,8,9,3])

In [ ]:
def winter_48(arr):
    result = 0
    add = False
    for item in arr:
        if add == False:
            if item == 4:
                add = True
            else:
                result = result + item
        else:
            if item == 8:
                add =False
    return result

In [ ]:
winter_48([1,2,3,4,5,8,1,1])

In [ ]:
x = 50

def myfunc(x):
    print(f'X is {x}')
          
    # local reassignment on a global variable!
    x = 400
    print('I JUST CHANGED VALUE OF X TO BE {}'.format(x))
    return x

In [ ]:
print(x)

In [ ]:
x = myfunc(x)

In [ ]:
print(x)

In [ ]:
x = [13,13]

In [ ]:
sum(x)

In [ ]:
x.index(13)

In [127]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad*3)

In [128]:
vol(5)

62.8

In [140]:
def ran_check(num,low,high):
    #Check if num is between low and high(including low and high)
    if num in range(low,high+1):
        print (f'{num} is in the range')
    else:
        print ('The number is outside the range.')

In [141]:
ran_check(6,2,8)

6 is in the range

In [145]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [143]:
ran_bool(3,1,5)

True

In [144]:
ran_bool(8,5,6)

False

In [138]:
def up_low(string):
    d={'upper':0 , 'lower':0}
    for character in string:
        if character.isupper():
            d['upper'] = d['upper'] + 1
        elif character.islower():
            d['lower'] = d['lower'] + 1
        
    print ('Original string :', string)
    print ('No. of upper case characters :', d['upper'])
    print ('No. of lower case characters :', d['lower'])

In [139]:
string = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(string)

Original string : Hello Mr. Rogers, how are you this fine Tuesday?
No. of upper case characters : 4
No. of lower case characters : 33

In [135]:
def unique_list(mylist):
    x = []
    for item in mylist:
        if item not in x:
            x.append(item)
    return x

In [58]:
unique_list([1,1,1,1,2,2,2,2,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [59]:
def multiply(numbers):
    result = numbers[0]
    for item in numbers:
        result = result*item
    return result

In [60]:
multiply([1,2,3,-4])

-24

In [63]:
multiply([2,2,3])

24

In [62]:
multiply([1,1,2])

2

In [64]:
#palindrome?

In [65]:
def palindrome(s):
    return s == s[::-1]

In [66]:
palindrome('madam')

True

In [67]:
palindrome('nurses')

False

In [68]:
#pangram ?

In [70]:
mylist = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [106]:
def is_pangram(mystring):
    mystring = mystring.lower()
    for item in mylist:
        
        if item in mystring:
            return True
    return False

In [108]:
is_pangram('ss')

True

In [103]:
is_pangram("I don't think it is pangram")

False

In [96]:
is_pangram('hello')

False

In [109]:
import string
x = string.ascii_lowercase
print(x)

abcdefghijklmnopqrstuvwxyz

In [110]:
set('abbc')

{'a', 'b', 'c'}

In [121]:
set(x)

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [124]:
import string

def ispangram(str1,alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [125]:
ispangram('hello')

False