In [1]:
'Pam'

'Pam'

In [2]:
last_letters = 'Pam'[1:]

In [3]:
last_letters

'am'

In [4]:
'S' + last_letters

'Sam'

In [5]:
2 + 3

5

In [6]:
'2' + '3'

'23'

In [7]:
x = 'Hello World'

In [8]:
x.upper()

'HELLO WORLD'

In [9]:
x = x  + ' it is beautiful outside !'

In [10]:
x

'Hello World it is beautiful outside !'

In [11]:
x.lower()

'hello world it is beautiful outside !'

In [12]:
y = 'Hello World'

In [13]:
y.lower()

'hello world'

In [14]:
y.split()

['Hello', 'World']

In [15]:
y.split('r')

['Hello Wo', 'ld']

In [16]:
print('hello')

hello

In [17]:
print('This is the string {}'.format('inserted'))

This is the string inserted

In [18]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [19]:
print('The {f} {b} {f}'.format(f='fox',b='brown',q='quick'))

The fox brown fox

In [20]:
result = 100/777

In [21]:
result

0.1287001287001287

In [22]:
print('The result is {r:3.3f}'.format(r=result))

The result is 0.129

In [23]:
name = 'Monsur'

In [24]:
print(f'He said his name is {name}.')

He said his name is Monsur.

In [25]:
name = 'Aydin'
age = '6'

In [26]:
print(f'{name} is {age} years old.')

Aydin is 6 years old.

In [27]:
print('He said his name was %s.'%('Fred'))

He said his name was Fred.

In [28]:
print('He said his name was %r.'%('FRed'))

He said his name was 'FRed'.

In [29]:
print('I once caught a fish %s.'%'this \t big')

I once caught a fish this 	 big.

In [30]:
print('I once caught a fish %r.'%'this \t big')

I once caught a fish 'this \t big'.

In [31]:
print('i insert %s here and some %s there.'%('some','more'))

i insert some here and some more there.

In [32]:
print('I wrote %s programes today.'%(3.75))

I wrote 3.75 programes today.

In [33]:
print('I wrote %d programes today.'%(3.75))

I wrote 3 programes today.

In [34]:
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.

In [35]:
print('{0:*>10} | {1:/^10}'.format('Fruit','Quantity'))
print('{0:*>10} | {1:/^10}'.format('Apples',4))
print('{0:*>10} | {1:/^10}'.format('Bananas',6))

*****Fruit | /Quantity/
****Apples | ////4/////
***Bananas | ////6/////

In [36]:
print('{0:*^10} | {1:*^10} | {2:*^10}'.format('Name','Age','Weight'))
print('{0:^10} | {1:^10} | {2:^10}'.format('Monsur',36,82))
print('{0:^10} | {1:^10} | {2:^10}'.format('Sabina',30,64))

***Name*** | ***Age**** | **Weight**
  Monsur   |     36     |     82
  Sabina   |     30     |     64

In [37]:
print('This is my ten character,two decimal number: {0:10.2f}'.format(13.4567892))

This is my ten character,two decimal number:      13.46

In [38]:
print('This is my ten character,two decimal number:% 10.2f'%(13.4567892))

This is my ten character,two decimal number:     13.46

In [39]:
num = 23.456789

In [40]:
print('TEN CHARACTER,FOUR DIGIT NUMBER IS {0:10.3f}'.format(num))

TEN CHARACTER,FOUR DIGIT NUMBER IS     23.457

In [41]:
print(f'TEN CHARACTER,THREE DIGIT NUMBER IS {num:{10}.{4}}')

TEN CHARACTER,THREE DIGIT NUMBER IS      23.46

In [42]:
mylist = [1,2,3]

In [43]:
len(mylist)

3

In [44]:
mylist = ['one','two','three']

In [45]:
mylist[0]

'one'

In [46]:
mylist[1:]

['two', 'three']

In [47]:
mylist

['one', 'two', 'three']

In [48]:
another_list = ['three','four','five']

In [49]:
new_list = mylist + another_list

In [50]:
new_list

['one', 'two', 'three', 'three', 'four', 'five']

In [51]:
new_list.append('six')

In [52]:
new_list

['one', 'two', 'three', 'three', 'four', 'five', 'six']

In [53]:
new_list.append('seven')

In [54]:
new_list

['one', 'two', 'three', 'three', 'four', 'five', 'six', 'seven']

In [55]:
new_list.pop()

'seven'

In [56]:
new_list.pop(0)

'one'

In [57]:
new_list

['two', 'three', 'three', 'four', 'five', 'six']

In [58]:
new_list[1] = 'THREE IN ALL CAPS'

In [59]:
new_list

['two', 'THREE IN ALL CAPS', 'three', 'four', 'five', 'six']

In [60]:
 popped_item = new_list.pop()

In [61]:
popped_item

'six'

In [62]:
new_list

['two', 'THREE IN ALL CAPS', 'three', 'four', 'five']

In [63]:
new_list.pop(2)

'three'

In [64]:
new_list = ['a','x','z','q','e']

In [65]:
new_list.sort()

In [66]:
new_list

['a', 'e', 'q', 'x', 'z']

In [67]:
new_list.sort()
my_sorted_list = new_list

In [68]:
my_sorted_list

['a', 'e', 'q', 'x', 'z']

In [69]:
# .sort() method is in-place method
# thats why my_sorted_list = new_list.sort() doesn't gives any anything
# type(my_sorted_list) is NoneType

In [70]:
num_list = [5,3,4,1,2]

In [71]:
num_list.sort()

In [72]:
num_list

[1, 2, 3, 4, 5]

In [73]:
num_list.reverse()

In [74]:
num_list

[5, 4, 3, 2, 1]

In [75]:
prices_lookup = { 'apple' :2.99, 'oranges' :1.99, 'milk' :5.80}

In [76]:
prices_lookup['apple']

2.99

In [77]:
prices_lookup['milk']

5.8

In [78]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insidekey':100}}

In [79]:
d['k2']

[0, 1, 2]

In [80]:
d['k3']['insidekey']

100

In [81]:
d['k2'][2]

2

In [82]:
d = {'key1':['a','b','c']}

In [83]:
d['key1'][2].upper()

'C'

In [84]:
mylist = d['key1']

In [85]:
mylist

['a', 'b', 'c']

In [86]:
letter = mylist[2]

In [87]:
letter

'c'

In [88]:
letter.upper()

'C'

In [89]:
d = {'k1':100 , 'k2':200 }

In [90]:
d['k3'] = 300

In [91]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [92]:
d['k1'] = 'NEW VALUE'

In [93]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [94]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [95]:
d.values()

dict_values(['NEW VALUE', 200, 300])

In [96]:
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

In [97]:
t = ('a','a','b')

In [98]:
t.count('a')

2

In [99]:
t.index('a')

0

In [100]:
t.index('b')

2

In [101]:
mylist = [1,2,3]

In [102]:
mylist[0] = 'NEW'

In [103]:
mylist

['NEW', 2, 3]

In [104]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [ ]:
myset = set()

In [ ]:
myset

In [ ]:
myset.add(1)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
mylist = [1,1,1,1,1,2,2,2,3,3,3,3,3,3]

In [ ]:
set(mylist)

In [ ]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

In [ ]:
myfile = open('myfile.txt')

In [ ]:
pwd

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
contents = myfile.read()

In [ ]:
contents

In [ ]:
contents

In [ ]:
myfile.readlines()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines()

In [ ]:
myfile.close()

In [ ]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [ ]:
contents

In [ ]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [ ]:
contents

In [ ]:
%%writefile  my_new_file.txt
mamma mia
mamma mia

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nla la la la')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('dhbhmnnjkdfhh.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [ ]:
with open('dhbhmnnjkdfhh.txt',mode='r') as f:
    print(f.read())

In [ ]:
list3 = [1,2,[3,4,'hello']]

In [ ]:
list3[2][2] = 'goodbye'

list3

In [ ]:
list3

In [ ]:
list4 = [5,3,4,6,1]

In [ ]:
list4.sort()

In [ ]:
list4

In [ ]:
d = {'simple_key':'hello'}

In [ ]:
d['simple_key']

In [ ]:
d = {'k1':{'k2':'hello'}}

In [ ]:
d['k1']['k2']

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [ ]:
d['k1'][0]['nest_key']

In [ ]:
d['k1']

In [ ]:
d['k1'][0]

In [ ]:
d['k1'][0]['nest_key'][1]

In [ ]:
d['k1'][0]['nest_key'][1][0]

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [ ]:
d['k1']

In [ ]:
d['k1'][2]

In [ ]:
d['k1'][2]['k2']

In [ ]:
d['k1'][2]['k2'][1]

In [ ]:
d['k1'][2]['k2'][1]['tough'][2][0]

In [ ]:
list5 = [1,2,3,33,4,4,11,22,3,3,2]
set(list5)

In [ ]:
if True:
    print('its true!')

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for item in mylist:
    if item % 2 == 0:
        print(item)
    else:
        print(f'ODD NUMBER:{item}')

In [ ]:
list_sum = 0

for item in mylist:
    list_sum = list_sum + item
    
print(list_sum)

In [ ]:
mystring = 'Hello World'

for item in mystring:
    print(item)

In [ ]:
for item in 'Hello World':
    print(item)

In [ ]:
for _ in 'Hello World':
    print('COOL!')

In [ ]:
tup = (1,2,3)
    
for item in tup:
    print(item)

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [ ]:
len(mylist)

In [ ]:
for item in mylist:
    print(item)

In [ ]:
for a,b in mylist:
    #tuple unpacking
    print(a)
    print(b)

In [ ]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(b)

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

In [ ]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    
    x+=1
else:
    print("X IS NOT LESS THAN 5")

In [ ]:
mystring= 'sammy'

In [ ]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

In [ ]:
x = 0

while x < 5:
    if x ==3:
        break
    
    print(x)
    
    x = x +1

In [ ]:
mystring = 'hello'

In [ ]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [ ]:
mylist

In [ ]:
mylist = [letter for letter in mystring]

In [ ]:
mylist

In [ ]:
mylist = [qwewe for qwewe in 'wordtwo']

In [ ]:
mylist

In [ ]:
mylist = [num for num in range(0,11)]

In [ ]:
mylist

In [ ]:
mylist = [num**2 for num in range(0,11)]

In [ ]:
mylist

In [ ]:
mylist = [num**2 for num in range(0,11) if num%2 == 0]

In [ ]:
mylist

In [ ]:
celcius = [0,10,20,34.5]

farenheit = [((9/5)*temp+32) for temp in celcius]

In [ ]:
farenheit

In [ ]:
farenheit=[]

for temp in celcius:
    farenheit.append(((9/5)*temp+ 32))

In [ ]:
farenheit

In [ ]:
def mysquare(num):
    return num**3

results = [mysquare(x) for x in range(0,11) if x%2 ==0]

In [ ]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [ ]:
results

In [ ]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [ ]:
mylist

In [ ]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100] ]

In [ ]:
mylist

In [ ]:
for num in range(0,11,2):
    print(num)

In [ ]:
#generator---is special type of function that generates information instead of saving all to memory

In [ ]:
list(range(0,11,2))

In [ ]:
#enumerate

In [ ]:
index_count = 0
word = 'abcde'

for letter in word:
    print('At index {} the letter is {}'.format(index_count,letter))
    
    index_count = index_count + 1

In [ ]:
word = 'abcde'

for item in enumerate(word):
    print(item)

In [ ]:
word = 'hijklmnop'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

In [ ]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = ['a','b','c']
list3 = [100,200,300]

In [ ]:
list(zip(list1,list2,list3))

In [ ]:
for item in zip(list1,list2,list3):
    print(item)

In [ ]:
for a,b,c in zip(list1,list2,list3):
    print(b)

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

In [ ]:
'a' in 'a world'

In [ ]:
'mykey' in {'mykey':345}

In [ ]:
d = {'mykey':345}

345 in d.keys()

In [ ]:
345 in d.values()

In [ ]:
mylist = [10,20,30,40,50,60,70,80]

In [ ]:
min(mylist)

In [ ]:
max(mylist)

In [ ]:
from random import shuffle

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
shuffle(mylist)

In [ ]:
mylist

In [ ]:
mylist

In [ ]:
shuffle(mylist)

In [ ]:
mylist

In [ ]:
from random import randint

In [ ]:
randint(0,100)

In [ ]:
randint(0,100)

In [ ]:
mynum = randint(0,10)

In [ ]:
mynum

In [ ]:
result = input('Enter a number here:')

In [ ]:
result

In [ ]:
result = input('What is your name:')

In [ ]:
result

In [ ]:
result = input('What is your favourite number? :')

In [ ]:
result

In [ ]:
int(result)

In [ ]:
# input always accepts data a strings :''

In [ ]:
float(result)

In [ ]:
st = 'Print only the words that starts with s in the sentence'

In [ ]:
for item in st.split():
    if item[0] == 's':
        print(item)

In [ ]:
for item in range(0,11):
    if item % 2 == 0:
        print(item)

In [ ]:
mylist = [x for x in range(0,51) if x % 3 ==0]

In [ ]:
mylist

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
for item in st.split():
    if len(item)%2 == 0:
        print(item +' is a even word')

In [ ]:
for item in range(1,101):
    if item%3 == 0 and item%5 == 0:
        print('FizzBuzz')
    elif item % 3 == 0:
        print('Fizz')
    elif item % 5 == 0:
        print('Buzz')
    else:
        print(item)

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
mylist = [x[0] for x in st.split()]

In [ ]:
mylist

In [ ]:
def name_function():
    '''
    DOCSTRING:Information about the function
    INPUT:no input
    OUTPUT:Hello
    '''
    print('Hello')

In [ ]:
help(name_function)

In [ ]:
def say_hello(name ='NAME'):
    return 'Hello '+name

In [ ]:
result = say_hello('Sam')

In [ ]:
result

In [ ]:
type(result)

In [ ]:
def add(n1,n2):
    return n1 + n2

In [ ]:
result = add(20,30)

In [ ]:
result

In [ ]:
# find out if the word 'dog' in a string?

In [ ]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [ ]:
dog_check('My dog ran away')

In [ ]:
dog_check('Dog eats bones')

In [ ]:
dog_check('Cat here')

In [ ]:
'dog' in 'dog ran away'

In [ ]:
def aydin_check(mystring):
    return 'aydin' in mystring.lower()

In [ ]:
aydin_check('i love aydin')

In [ ]:
aydin_check('Aydin is my lovely boy')

In [ ]:
def pig_latin(word):
    first_letter = word[0] 
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    return pig_word

In [ ]:
pig_latin('apple')

In [ ]:
pig_latin('word')

In [ ]:
def myfunc():
    print('Hello World')

In [ ]:
myfunc()

In [ ]:
def myfunc(name):
    print('Hello ' + name)

In [ ]:
myfunc('Jose')

In [ ]:
def myfunc(a):
    if a == True:
        return 'Hello'
    elif a == False:
        return 'Goodbye'

In [ ]:
myfunc(True)

In [ ]:
def myfunc(x,y,z):
    if z == True:
        return x
    elif z == False:
        return y

In [ ]:
myfunc(36,45,True)

In [ ]:
myfunc(2,4,False)

In [ ]:
def myfunc(n1,n2):
    return n1 + n2

In [ ]:
myfunc(20,30)

In [ ]:
def is_even(x):
    if x%2 == 0:
        return True
    else:
        return False

In [ ]:
is_even(44)

In [ ]:
is_even(93)

In [ ]:
def is_greater(x,y):
    if x > y:
        return True
    elif x <= y:
        return False

In [ ]:
is_greater(40,30)

In [ ]:
is_greater(2,10)

In [ ]:
is_greater(3,3)

In [ ]:
def upper_lower(mystring):
    result = ''
    for index,letter in enumerate(mystring): 
        if index % 2 == 0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
    return result

In [ ]:
upper_lower('Aphrodite')

In [ ]:
mylist = [1,2,9,6,4]

In [ ]:
def odd_even(numbers):
    result = []
    for item in numbers:
        if item%2 == 0:
            result.append(0)
        else:
            result.append(1)
    return result

In [ ]:
odd_even(mylist)

In [ ]:
def length_of_string(mystrings):
    result = []
    for item in mystrings:
        output = len(item)
        result.append(output)
    return result

In [ ]:
length_of_string(['kuku','lul','kikop','kilome'])

In [ ]:
length_of_string(['Aydin','Sabina'])

In [ ]:
def length_of_string(mystrings):
    result = []
    for item in mystrings:
        output = len(item)
        result.append(output)
    return result

In [ ]:
def even_odd(mystrings):
    result = []
    for item in mystrings:
        if len(item)%2 == 0:
            result.append(item.upper())
        else:
            result.append(item.lower())
    return result

In [ ]:
even_odd(['aydin','sabina','monsur','lui'])

In [ ]:
def myfunc(*args):
    return sum(args) * 0.05

In [ ]:
myfunc(40,20,50,10)

In [ ]:
def myfunc(*args):
    for item in args:
        print (item**2)

In [ ]:
myfunc(2,4,5,6,20)

In [ ]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('No fruit')

In [ ]:
myfunc(fruit = 'apple',veggie = 'lettuce')

In [ ]:
def my_dict(**kwargs):
    print(kwargs)

In [ ]:
my_dict(fruit='orange',food='egg',toy='car')

In [ ]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [ ]:
myfunc(10,20,30,fruit='apple',food='eggs',animal='dog')

In [ ]:
def myfunc(*args):
    return sum(args)

In [ ]:
myfunc(10,20,30,40)

In [ ]:
def myfunc(*args):
    result = []
    for item in args:
        if item % 2 == 0:
            result.append(item)
    return result

In [ ]:
myfunc(20,23,30,35,40)

In [ ]:
def myfunc(mystring):
    result = ''
    for index,letter in enumerate(mystring):
        if index%2 == 0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
            
    return result

In [ ]:
myfunc('Aydinparvez')

In [ ]:
def lesser_of_two_events(a,b):
    if a%2 == 0 and b%2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

In [ ]:
lesser_of_two_events(2,4)

In [ ]:
lesser_of_two_events(5,7)

In [ ]:
def lesser_of_two_events(a,b):
    if a%2 == 0 and b%2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
lesser_of_two_events(3,9)

In [ ]:
lesser_of_two_events(4,8)

In [ ]:
def animal_crackers(mystring):
    words = mystring.split()
    first_word = words[0]
    second_word = words[1]
    return first_word[0] == second_word[0]

In [ ]:
animal_crackers('Levelheaded Llama')

In [ ]:
def animal_cracker(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [ ]:
animal_cracker('Crazy cat')

In [ ]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,0)

In [ ]:
makes_twenty(10,10)

In [ ]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [ ]:
makes_twenty(15,5)

In [ ]:
def old_macdonald(text):
    first_half = text[:3]
    second_half = text[3:]
    return first_half.capitalize() + second_half.capitalize()

In [ ]:
old_macdonald('macdonald')

In [ ]:
def old_macdonald(mystring):
    first_letter = mystring[0]
    inbetween = mystring[1:3]
    fourth_letter = mystring[3]
    last_part = mystring[4:]
    return first_letter.upper() + inbetween + fourth_letter.upper()+last_part

In [ ]:
old_macdonald('macdonald')

In [ ]:
def master_yoda2(text):
    words = text.split()
    
    words_reversed = words[::-1]
    return '///'.join(words_reversed)

In [ ]:
master_yoda2('Monsur loves Sabina')

In [ ]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [ ]:
almost_there(104)

In [ ]:
almost_there(150)

In [ ]:
almost_there(194)

In [ ]:
mystring = 'Woohoo'
half_length = len(mystring)/2

In [ ]:
half_length

In [ ]:
s = 'Hello'
s[1:-1]

In [ ]:
def myfunc(*args):
    result = []
    for item in args:
        if item % 2 == 0:
            result.append(item)
    return result

In [ ]:
myfunc(2,3,5,6,6,7,7,8,2)

In [ ]:
def square_cube(numbers):
    result = []
    for item in numbers:
        if item %2 == 0:
            result.append(item**2)
        else:
            result.append(item**3)
    return result

In [ ]:
square_cube([2,3,4,5,6,7,8])

In [ ]:
mylist = range(15)
def get_even(numbers):
    result = []
    for item in numbers:
        if item% 2 == 0:
            result.append(item)
    return result

In [ ]:
get_even(mylist)

In [ ]:
def double_items(numbers):
    result = []
    for item in numbers:
        result.append(item)
        result.append(item)
    return result

In [ ]:
double_items([3,1,6,7])

In [ ]:
def num_square(numbers):
    result = []
    for item in numbers:
        result.append(item)
        result.append(item**2)
    return result

In [ ]:
num_square([3,1,6,7])

In [ ]:
def paper_doll(text):
    result = ''
    for item in text:
        result = result + item*3
    return result

In [ ]:
paper_doll('Hello')

In [ ]:
paper_doll('Monsur')

In [ ]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]== 3 and nums[i+1]== 3:
    
            return True
       
    return False

In [ ]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [ ]:
has_33([1,3,3])

In [ ]:
has_33([1,3,1,3])

In [ ]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [ ]:
spy_game([1,2,4,0,0,7,5])

In [ ]:
spy_game([1,0,2,4,0,5,7])

In [ ]:
spy_game([1,7,2,0,4,5,0])

In [ ]:
def count_primes(num):
    #check for 0 1nd 1 input
    if num < 2:
        return 0
    ################
    #2 or greater
    #################
    #store our prime numbers
    primes =[2]
    #couter going up to the input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        #check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)

In [ ]:
def square(num):
    return num**2

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
for item in map(square,my_nums):
    print(item)

In [ ]:
list(map(square,my_nums))

In [ ]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [ ]:
names = ['Andy','Sally','Eve']

In [ ]:
list(map(splicer,names))

In [ ]:
for item in map(splicer,names):
    print(item)

In [ ]:
def check_even(num):
    return num%2==0

In [ ]:
mynums = [1,2,3,4,5,6]

In [ ]:
list(filter(check_even,mynums))

In [ ]:
for item in filter(check_even,mynums):
    print(item)

In [ ]:
def splicer(text):
    if len(text)%2==0:
        return 'EVEN'
    else:
        return text[0]

In [ ]:
mylist = ['Andy','Sally','Ella']

In [ ]:
for item in map(splicer,mylist):
    print(item)

In [ ]:
def check_even(nums):
    return nums%2==0

In [ ]:
mynums = [1,2,3,4,5,6,7,8]

In [ ]:
for item in filter(check_even,mynums):
    print(item)

In [ ]:
list(filter(check_even,mynums))

In [ ]:
 sqaure = lambda num:num**2

In [ ]:
square(2)

In [ ]:
list(map(lambda num:num**2,mynums))

In [ ]:
list(filter(lambda num:num%2 == 0,mynums))

In [ ]:
names

In [ ]:
list(map(lambda name : name[0],names))

In [ ]:
list(map(lambda name : name[::-1],names))

In [ ]:
x = 50

def func(x):
    print(f'X is {x}')
          
    #local reassignment on a global variable
    x = 200
    print(f'I just locally changed global X to {x}')
    
    return x

In [ ]:
print(x)

In [ ]:
x = func(x)

In [ ]:
print(x)

In [ ]:
x

In [ ]:
x = 50
def func():
    global x
    print(f'X is {x}')
    
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [ ]:
print(x)

In [ ]:
func()

In [ ]:
x

In [ ]:
#global
name = 'THIS IS A GLOBAL STRING'
def greet():
    #enclosing local function
    #name = 'Sammy'
    
    def hello():
        #name = 'I AM LOCAL'
        print('Hello '+ name)
    hello()

In [ ]:
greet()

In [ ]:
def has22(nums):
  index_of_2 = [i for (i,n) in enumerate(nums) if n == 2]
  diff = [x - index_of_2[i - 1] for i, x in enumerate(index_of_2)][1:]
  return 1 in diff

In [ ]:
has22([1, 2, 2])

In [ ]:
nums = [1, 2, 2]

In [ ]:
[n for (n,i) in enumerate(nums) if i==2]

In [ ]:
def get_33(nums): 
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [ ]:
get_33([1,3,3])

In [ ]:
get_33([1,3,1,3])

In [ ]:
def summer_69(numbers):
    result = 0
    awbsan = False
    for item in numbers:
        if awbsan == False:
            if item == 6:
                awbsan = True
            else:
                result = result + item
        else:
            if item == 9:
                awbsan = False
    return result

In [ ]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

In [ ]:
vol(2)

In [ ]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range')
    else:
        print('The number is outside the range')

In [ ]:
ran_check(4,1,8)

In [ ]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [ ]:
ran_check(3,1,8)

In [ ]:
def up_low(s):
    d = {'upper':0,'lower':0}
    for item in s:
        if item.isupper():
            d['upper'] = d['upper'] + 1
        
        elif item.islower():
            d['lower'] = d['lower'] + 1
        else:
            pass
    print('Original string : ', s)
    print('Number of upper case : ', d['upper'])
    print('Number of lower case : ', d['lower'])

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

In [ ]:
def unique_list(l):
    x = []
    for item in l:
        if item not in x:
            x.append(item)
    return x

In [ ]:
unique_list([1,1,1,1,1,2,2,2,3,3,3,3,3,4,5])

In [ ]:
def multiply(numbers):
    result = numbers[0]
    for item in numbers:
        result = result*item
    return result

In [ ]:
multiply([1,2,3,-4])

In [ ]:
def palindrome(s):
    return s == s[::-1]

In [ ]:
palindrome('madam')

In [ ]:
palindrome('solos')

In [ ]:
import string

def ispangram(str1,alphabet=string.ascii_lowercase):
    return alphabet

In [ ]:
set(string.ascii_lowercase)

In [14]:
def sum13(nums):
    for item in nums:
        if len(nums)== 0:
            result = 0
        elif 13 in nums:
            first_index = nums.index(13)
            
            if first_index < len(nums) -1:
                next_index =nums[first_index + 1]
                nums.pop(next_index)
            nums.pop(first_index)
        else:
            result = sum(nums)
    return result

In [15]:
sum13([1,2,2,1])

6

In [16]:
sum13([1,2,2,1,13])

6

In [17]:
sum13([1,2,13,3,4])

7

In [ ]:
import string
def ispangram(str1,alphabet = string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [ ]:
ispangram('hello')

In [ ]:
ispangram('The quick brown fox ')

In [ ]:
##### MILESTONE PROJECT 1 ######

In [ ]:
from  IPython.display import clear_output

def display_board(board):
    clear_output()

    print(board[7] + '|' + board[8] + '|' + board[9])
    print('-----')
    print (board[4] + '|' + board[5] + '|' + board[6])
    print('-----')
    print (board[1] + '|' + board[2] + '|' + board[3])

In [ ]:
test_board = [' ']*10
display_board(test_board)

In [ ]:
def player_input():
    
    marker = ''
    
    #KEEP ASKING PLAYER 1 TO CHOOSE 'X' OR 'O'
    
    while marker!= 'X' and marker!= '0':
        marker = input('Player 1, choose X or O :').upper()
        
    # ASSIGN PLAYER 2 , THE OPPOSITE MARKER
    if marker == 'X':
        return ('X','O')
    else:
        return ('O','X')
player_input()

In [ ]:
player1_marker , player2_marker = player_input()

In [ ]:
def player5_input():
    player1_marker = ''
    
    while player1_marker not in ['X', 'O']:
        player1_marker = input('Player1 choose, X or O :').upper()
        if player1_marker == 'X':
            player2_marker = 'O'
        else:
            player2_marker = 'X'
            
    markers = (player1_marker,player2_marker)
    return markers
    
player5_input()

In [ ]:
player1_marker

In [ ]:
player2_marker

In [ ]:
result = list('hello')

In [ ]:
result

In [ ]:
result.pop(2)

In [ ]:
''.join(result)

In [ ]:
mystring = list('hello')
first_letter = mystring[0]
mystring[0] = mystring[-1]

In [ ]:
mystring

In [ ]:
first_letter

In [ ]:
mystring[-1] = first_letter

In [ ]:
mystring

In [ ]:
''.join(mystring)

In [ ]:
from random import randint
def random_num():
    mynum = randint(0,10)
    return mynum

def player_input():
    result = int(input('Guess a random number (0 to 10) : '))
    return result


#check if mynum = result
if random_num() == player_input():
    print('Hooray, you won')
else:
    print('Try again')

In [1]:
s = '20+31'

In [12]:
s.split('+')

['20', '31']

In [13]:
'+' in s

True

In [7]:
mystring = 'my name is sabina'

In [11]:
mystring.split('i')

['my name ', 's sab', 'na']

In [1]:
def get_even(*args):
    result = []
    for item in args:
        if item%2==0:
            result.append(item)
    return result

In [3]:
get_even(1,2,3,4,5,6,7,8,8)

[2, 4, 6, 8, 8]

In [6]:
def myfunc(mystring):
    result = ''
    for index,letter in enumerate(mystring):
        if index%2==0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
    return result

In [7]:
myfunc('Sabina')

'SaBiNa'

In [8]:
def odd_even(mylist):
    result = []
    for item in mylist:
        if item%2 == 0:
            result.append(0)
        else:
            result.append(1)
    return result

In [9]:
odd_even([1,2,3,4,5,6,7,8])

[1, 0, 1, 0, 1, 0, 1, 0]

In [10]:
def length_string(mystring):
    result = []
    for item in mystring:
        output = len(mystring)
        result.append(output)
    return result

In [11]:
length_string(['Monsur','Sabina','Aydin'])

[3, 3, 3]

In [12]:
def even_odd(mystrings):
    result=[]
    for item in mystrings:
        x = item.upper()
        y= item.lower()
        if len(item)%2== 0:
            result.append(x)
        else:
            result.append(y)
    return result

In [13]:
even_odd(['kuku','lui','pui','maya'])

['KUKU', 'lui', 'pui', 'MAYA']

In [14]:
def myfunc(*args):
    result = []
    for item in args:
        if item % 2 == 0:
            result.append(item)
    return result

In [15]:
myfunc(1,23,4,5,78)

[4, 78]

In [16]:
def square_root(numbers):
    result = []
    for item in numbers:
        if item%2 == 0:
            result.append(item**2)
        else:
            result.append(item**0.5)
    return result

In [17]:
square_root([2,3,4,5,6,7,8])

[4, 1.7320508075688772, 16, 2.23606797749979, 36, 2.6457513110645907, 64]

In [18]:
def get_even(numbers):
    result = []
    for item in numbers:
        if item%2 == 0:
            result.append(item)
    return result

In [19]:
get_even(range(15))

[0, 2, 4, 6, 8, 10, 12, 14]

In [1]:
pwd

'C:\\Users\\Monsur'