In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x for x in 'Aydin']

In [7]:
mylist

['A', 'y', 'd', 'i', 'n']

In [12]:
mylist = [x**2 for x in range(0,11)]

In [13]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [16]:
mylist

[0, 4, 16, 36, 64, 100]

In [17]:
celcius = [0,10,20,34.5]

In [18]:
farenheit = [((9/5)*temp +32) for temp in celcius]

In [19]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [20]:
farenheit = []

for temp in celcius:
    farenheit.append((9/5)*temp + 32)

In [21]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [23]:
result = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [24]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [25]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [26]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [27]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [28]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [29]:
st = 'Print only the words that starts with s in the sentence'

In [30]:
for word in st.split():
    if word[0] == 's':
        print(word)

starts
s
sentence

In [31]:
for num in range(0,11):
    if num%2 == 0:
        print(num)

0
2
4
6
8
10

In [32]:
mylist = [x for x in range(1,51) if x%3 == 0]

In [33]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [34]:
st = 'Print every word in this sentence that has an even number of letters'

In [37]:
for word in st.split():
    if len(word) %2 == 0:
        print(f"{word} : is a even word")

word : is a even word
in : is a even word
this : is a even word
sentence : is a even word
that : is a even word
an : is a even word
even : is a even word
number : is a even word
of : is a even word

In [39]:
for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        print('FizzBuzz')
    elif i%3 == 0:
        print('Fizz')
    elif i%5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [40]:
st = 'Create a list of the first letters of every word in this string'

In [41]:
mylist = [x[0] for x in st.split()]

In [42]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']