In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [9]:
mylist.insert(0,5)

In [10]:
mylist

[5, 1, 2, 3, 2]

In [11]:
help(mylist.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [15]:
def name_of_function(name):
    '''
    DOCSTRING:
    INPUT:
    OUTPUT:
    '''
    print('Hello '+ name)

In [16]:
name_of_function('Jose')

Hello Jose

In [17]:
#return allows us to store the result of the function in a variable!!
#return sends back the result of the function
#whereas print just prints out the result

In [18]:
def add_num(n1,n2):
    return n1 + n2

In [19]:
result = add_num(2,2)

In [20]:
print(result)

4

In [21]:
def name_function():
    '''
    DOCSTRING:Info about the function
    INPUT:no input
    OUTPUT:hello
    '''
    print('Hello ')

In [22]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING:Info about the function
    INPUT:no input
    OUTPUT:hello

In [34]:
def say_hello(name="NAME"):
    return 'hello '+name

In [35]:
result = say_hello('DAVID')

In [36]:
type(result)

str

In [37]:
result

'hello DAVID'

In [38]:
def add(n1,n2):
    return n1 + n2

In [39]:
result = add(20,30)

In [40]:
result

50

In [41]:
# Find out if the word dog is in the string?

In [57]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [55]:
dog_check('Dog is good')

True

In [50]:
dog_check('My dog is cute')

True

In [58]:
dog_check('Cat is nice too')

False

In [68]:
def vowel_check(word):
    if word[0] in 'aeiou':
        pig_word = word +'ay'
       
    else:
        pig_word = word[1:] + word[0] + 'ay'
    return pig_word

In [69]:
vowel_check('word')

'ordway'

In [70]:
vowel_check('apple')

'appleay'

In [73]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [74]:
has_33([1,3,3])

True

In [75]:
has_33([1,3,1,3])

False

In [81]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return True
    return False

In [82]:
has_33([1,3,3])

True

In [83]:
has_33([1,3,1,3])

False

In [84]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) > 21:
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [85]:
blackjack(5,6,7)

18

In [86]:
blackjack(9,9,9)

'BUST'

In [87]:
blackjack(9,9,11)

19

In [88]:
def paper_doll(mystring):
    result = ''
    for i in mystring:
        result = result + i*3
    return result

In [89]:
paper_doll('Sabina')

'SSSaaabbbiiinnnaaa'

In [90]:
paper_doll('Hello')

'HHHeeellllllooo'

In [93]:
def find_prime(num):
    for i in range(2,num):
        if num%i == 0:
            return False
    return True

In [94]:
find_prime(17)

True

In [95]:
find_prime(6)

False

In [99]:
def summer_69(numbers):
    result = 0
    add = False
    for i in numbers:
        if add == False:
            if i == 6:
                add = True
            else:
                result += i
        else:
            if i == 9:
                add = False
           
    return result

In [100]:
summer_69([1,3,5])

9

In [101]:
summer_69([4,3,6,7,8,9,11])

18

In [102]:
summer_69([2,1,6,9,11])

14

In [103]:
def my_func():
    print('Hello World')

In [104]:
my_func()

Hello World

In [110]:
def my_func(name="NAME"):
    print('Hello '+ name)

In [111]:
my_func('Jose')

Hello Jose

In [112]:
my_func()

Hello NAME

In [113]:
def my_func(a):
    if a == True:
        return 'Hello'
    else:
        return 'Goodbye'

In [114]:
my_func(True)

'Hello'

In [115]:
my_func(False)

'Goodbye'

In [120]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

In [121]:
myfunc(1,2,True)

1

In [122]:
myfunc(1,2,False)

2

In [125]:
def myfunc(a,b):
    return sum([a,b])

In [126]:
myfunc(2,2)

4

In [127]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [128]:
is_even(2)

True

In [129]:
is_even(5)

False

In [134]:
def is_greater(a,b):
    if a > b:
        return True
    elif a == b:
        return 'BUST'
    else:
        return False

In [135]:
is_greater(3,5)

False

In [136]:
is_greater(10,3)

True

In [137]:
is_greater(2,2)

'BUST'

In [140]:
def myfunc(*args):
    result = []
    for i in args:
        if i % 2 == 0:
            result.append(i)
    return result

In [141]:
myfunc(2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

In [148]:
def myfunc(mystring):
    result = ''
    for index,letter in enumerate(mystring):
        if index%2 == 0:
            result = result + letter.upper()
        else:
            result = result + letter.lower()
    return result

In [149]:
myfunc('Sabina')

'SaBiNa'

In [150]:
def lesser_two_events(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a < b:
            return b
        else:
            return a

In [152]:
lesser_two_events(2,4)

2

In [153]:
lesser_two_events(2,5)

5

In [157]:
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [158]:
animal_crackers('Levelheaded Llama')

True

In [159]:
animal_crackers('Crazy cat')

True

In [160]:
animal_crackers('Crazy Kangaroo')

False

In [163]:
def old_macdonald(name):
    first = name[:3]
    second = name[3:]
    return first.capitalize() + second.capitalize()

In [164]:
old_macdonald('macdonald')

'MacDonald'

In [165]:
def old_macdonald(name):
    first = name[0]
    second = name[1:3]
    third = name[3]
    fourth = name[4:]
    return first.upper() + second + third.upper() + fourth

In [166]:
old_macdonald('macdonald')

'MacDonald'

In [177]:
def master_yoda(text):
    wordlist = text.lower().split()
    rev_wordlist = wordlist[::-1]
    return ' '.join(rev_wordlist)

In [178]:
master_yoda('I am home')

'home am i'

In [179]:
master_yoda('We are ready')

'ready are we'

In [180]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2== 20

In [181]:
makes_twenty(20,10)

True

In [182]:
makes_twenty(12,8)

True

In [183]:
makes_twenty(2,3)

False

In [188]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <=10)

In [189]:
almost_there(90)

True

In [187]:
almost_there(104)

True

In [204]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return True
    return False

In [205]:
has_33([1,3,3])

True

In [206]:
def funky_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [208]:
funky_33([1,3,3])

True

In [210]:
funky_33([1,3,1,3])

False

In [211]:
def paper_doll(text):
    result = ''
    for i in text:
        result = result + i*3
    return result

In [213]:
paper_doll('Hello')

'HHHeeellllllooo'

In [214]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [219]:
def blackjack(a,b,c):
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    if 11 in [a,b,c] and sum([a,b,c]) >21:
        return (sum([a,b,c]) - 10)
    else:
        return 'BUST'

In [220]:
blackjack(5,6,7)

18

In [221]:
blackjack(9,9,9)

'BUST'

In [222]:
blackjack(9,9,11)

19

In [229]:
def summer_69(arr):
    result = 0
    add = False
    
    for i in arr:
        if add == False:
            if i == 6:
                add = True
            else:
                result += i
        else:
            if i == 9:
                add = False
    return result

In [226]:
summer_69([1,3,5])

9

In [227]:
summer_69([4,5,6,7,8,9])

9

In [228]:
summer_69([2,11,6,9,11])

24

In [230]:
def near_ten(num):
    new_num = num%10
    return new_num in [8,9,0,1,2]

In [233]:
def myfunc(a,b,c=0,d=0):
    return sum((a,b)) *0.05

In [237]:
myfunc(40,60,100,100,100)

TypeError: myfunc() takes from 2 to 4 positional arguments but 5 were given

In [238]:
def myfunc(*args):
    return sum(args) *0.05

In [240]:
myfunc(40,60,100)

10.0

In [241]:
def myfunc(*args):
    for item in args:
        print(item)

In [242]:
myfunc(40,60,100,1,34)

40
60
100
1
34

In [243]:
#args returns back a tuple
#kwargs returns back dictionary

In [253]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [254]:
myfunc(fruit='apple',veggie ='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [257]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [258]:
myfunc(10,20,30,fruit='apple',drink='milk',food='eggs')

(10, 20, 30)
{'fruit': 'apple', 'drink': 'milk', 'food': 'eggs'}
I would like 10 eggs

In [259]:
#Lambda Expressions Map and Filter

In [260]:
def square(num):
    return num**2

In [261]:
my_num = [1,2,3,4,5]

In [263]:
list(map(square,my_num))

[1, 4, 9, 16, 25]

In [264]:
for item in map(square,my_num):
    print(item)

1
4
9
16
25

In [265]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [266]:
names = ['Andy','Eve','Sally']

In [267]:
list(map(splicer,names))

['Even', 'E', 'S']

In [268]:
def check_even(num):
    return num%2 == 0

In [269]:
mynums = [1,2,3,4,5,6,7,8]

In [270]:
list(filter(check_even,mynums))

[2, 4, 6, 8]

In [271]:
for item in filter(check_even,mynums):
    print(item)

2
4
6
8

In [272]:
def square(num):
    return num**2

In [273]:
square(3)

9

In [274]:
 # lambda expression is called anonymous function---->coz its some functionality we intend to use only one time

In [276]:
square = lambda num: num**2

In [277]:
square(5)

25

In [278]:
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [280]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6, 8]

In [281]:
names

['Andy', 'Eve', 'Sally']

In [284]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [291]:
def spy_games(nums):
    for i in range(len(nums)-2):
        if nums[i] == 0 and nums[i+1] == 0 and nums[i+2] == 7:
            return True
    return False

In [292]:
spy_games([1,2,4,0,0,7,5])

True

In [293]:
def is_prime(num):
    for i in range(2,num):
        if num%i == 0:
            return False
    return True

In [294]:
is_prime(17)

True

In [295]:
is_prime(6)

False

In [296]:
def count_prime(num):
    count = 0
    for i in range(2,num+1):
        if is_prime(i) == True:
            count += 1
    return count

In [297]:
count_prime(100)

25

In [300]:
def sum13(nums):
    new_list = []
    prev_13 = False
    
    for i in nums:
        if i == 13:
            new_list.append(0)
            prev_13 = True
        else:
            if prev_13 == True:
                new_list.append(0)
                prev_13 = False
            else:
                new_list.append(i)
    return sum(new_list)

In [301]:
sum13([1,2,2,1])

6

In [302]:
sum13([1,2,2,1,13])

6

In [303]:
def spy_games(nums):
    for i in range(len(nums)-2):
        if nums[i] == 0 and nums[i+1] == 0 and nums[i+2] == 7:
            return True
    return False

In [304]:
spy_games([1,2,4,0,0,7,5])

True

In [305]:
spy_games([1,0,2,4,0,5,7])

False

In [312]:
name = 'THIS IS A GLOBAL STRING'

def greet():
    #ENCLOSING FUNC LOCAL
    #name = 'Sammy'
    
    def hello():
        #LOCAL 
        #name = 'I am a local'
        print('Hello '+ name)
    hello()

In [313]:
greet()

Hello THIS IS A GLOBAL STRING

In [317]:
x = 50

def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT
    x = 200
    print(f'I just locally changed X to {x}')

In [318]:
func(x)

X is 50
I just locally changed X to 200

In [319]:
print(x)

50

In [320]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [321]:
print(x)

50

In [322]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [323]:
print(x)

NEW VALUE

In [327]:
x = 50

def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'new value'
    print(f'I just locally changed global x to {x}')
    return x

In [328]:
print(x)

50

In [329]:
x = func(x)

X is 50
I just locally changed global x to new value

In [330]:
print(x)

new value

In [333]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

In [334]:
vol(5)

523.3333333333334

In [337]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'The {num} is in range')
        return True
    else:
        return False

In [338]:
ran_check(3,1,10)

The 3 is in range

True

In [340]:
def up_low(s):
    d = {'upper':0,'lower':0}
    for i in s:
        if i.isupper():
            d['upper'] += 1
        elif i.islower():
            d['lower'] += 1
    print('Original string : ',s)
    print('The number of upper case character : ' , d['upper'])
    print('The number of lower case character : ' ,d['lower'])

In [341]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [342]:
up_low(s)

Original string :  Hello Mr. Rogers, how are you this fine Tuesday?
The number of upper case character :  4
The number of lower case character :  33

In [343]:
def up_low(string):
    d = {'upper':0,'lower':0}
    for character in string:
        if character.isupper():
            d['upper'] +=1
        elif character.islower():
            d['lower'] +=1
    print('Original string : ', string)
    print('Number of upper case characters : ', d['upper'])
    print('Number of lower case characters : ', d['lower'])

In [344]:
s = 'Hello Aydin! How are you Today?'
up_low(s)

Original string :  Hello Aydin! How are you Today?
Number of upper case characters :  4
Number of lower case characters :  20

In [345]:
def unique_list(mylist):
    new_list = []
    for i in mylist:
        if i not in new_list:
            new_list.append(i)
    return new_list

In [346]:
l = [1,1,1,1,1,2,2,2,3,3,3,4,4,4,5,5,6]

In [347]:
unique_list(l)

[1, 2, 3, 4, 5, 6]

In [348]:
def multiply(nums):
    result = nums[0]
    for i in nums:
        result = result * i
    return result

In [349]:
multiply([1,2,3,-4])

-24

In [350]:
def palindrome(s):
    return s == s[::-1]

In [352]:
palindrome('helleh')

True

In [353]:
palindrome('madam')

True