In [1]:
int(6.5)

6

In [4]:
str = 'Woohoo'

In [9]:
full_length = len(str)

In [10]:
half_length = a/2

In [11]:
half_length

3.0

In [12]:
int(half_length)

3

def first_half(str):
    
      full_length = len(str)
      half_length = full_length/2
      
      half_length_int = int(half_length)
      
      result = str[0:half_length_int]
      return result

In [102]:
my_dict = {'key1':'value1','key2':'value2'}

In [14]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [15]:
my_dict['key1']

'value1'

In [17]:
my_dict['key2']

'value2'

In [18]:
price_lookup = {'apple':2.03,'bananas':1.99,'orange':3.09}

In [19]:
price_lookup['orange']

3.09

In [21]:
price_lookup['apple']

2.03

In [22]:
price_lookup['bananas']

1.99

#EASY TO GET VALUES WITHOUT INDEXING 
#QUITE FLEXIBLE(HAVING INT, FLOATING POINT NOS. ,OR STRINGS)/ CALL LISTS OR OTHER DICTIONARIES.

In [24]:
d = {'k1':123,'k2':[1,2,3],'k3':{'insidekey':100}}

In [25]:
d['k3']

{'insidekey': 100}

In [26]:
d['k2']

[1, 2, 3]

In [27]:
d['k3']['insidekey']

100

In [28]:
d['k2'][2]

3

In [29]:
 d = {'key1':['a','b','c']}

In [30]:
d

{'key1': ['a', 'b', 'c']}

In [32]:
x = d['key1'][2]

In [33]:
x.upper()

'C'

In [34]:
d['key1'][2].upper()

'C'

In [35]:
#adding key value to a dictionary

In [42]:
d ={'k1':100,'k2':200}

In [43]:
d

{'k1': 100, 'k2': 200}

In [44]:
d['k3'] = 300

In [45]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [46]:
d['k1'] = 'NEW VALUE'

In [47]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [48]:
#method to grab item from dictionary.

In [49]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [50]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [51]:
d.values()

dict_values([100, 200, 300])

In [52]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [53]:
d = {'aydinage':6,'sabinaage':30,'monsurage':36}

In [54]:
d['sabinaage'] = 20

In [55]:
d

{'aydinage': 6, 'sabinaage': 20, 'monsurage': 36}

In [56]:
d['kiratage'] = 7

In [57]:
d

{'aydinage': 6, 'sabinaage': 20, 'monsurage': 36, 'kiratage': 7}

In [58]:
#tuples

In [59]:
t = (1,2,3)

In [60]:
mylist = [1,2,3]

In [61]:
type(t)

tuple

In [62]:
type(mylist)

list

In [63]:
len(t)

3

In [64]:
len(mylist)

3

In [65]:
t = ('one',2)

In [66]:
t[0]

'one'

In [67]:
t[1]

2

In [68]:
t[-1]

2

In [72]:
t = ('a','a','c')

In [73]:
t.count('a')

2

In [74]:
t.index('a')

0

In [75]:
t.index('c')

2

In [76]:
t.index('a')

0

In [77]:
mylist

[1, 2, 3]

In [85]:
mylist[0] = 'new'

In [87]:
mylist

['new', 2, 3]

In [88]:
 #tuples does'nt suppoert item assignment# data integrity

In [89]:
myset = set()

In [90]:
myset

set()

In [91]:
myset.add(1)

In [92]:
myset

{1}

In [93]:
myset.add(2)

In [94]:
myset

{1, 2}

In [95]:
myset.add(2)

In [96]:
myset

{1, 2}

In [97]:
#doesnt repeats same value

In [100]:
mylist = [1,1,1,2,2,2,2,2,3,3,3,3]

In [101]:
set(mylist)

{1, 2, 3}

In [103]:
print("I am going to inject %s here." %'something')

I am going to inject something here.

In [105]:
print("I am going to eat %s and %s today." %('chicken','roasted vegetable'))

I am going to eat chicken and roasted vegetable today.

In [106]:
print("I'm going to inject some %s here and some %s here." %('text','more'))

I'm going to inject some text here and some more here.

In [107]:
x, y = 'some' , 'more'

In [108]:
print("I'm going to inject %s here and some %s here" %(x,y))

I'm going to inject some here and some more here

In [112]:
print('He said his name was %s.' %('Fred'))
print('he said his name was %r.' %('Fred'))

He said his name was Fred.
he said his name was 'Fred'.

In [110]:
print('I once caught a fish %s.' %'this \tbig')

I once caught a fish this 	big.

In [111]:
print('I once caught a fish %r.'%'this \tbig')

I once caught a fish 'this \tbig'.

In [113]:
print('floating point number:%1.5f' %(13.144))

floating point number:13.14400

In [114]:
print('floating point number:%10.2f' %(13.144))

floating point number:     13.14

In [115]:
print('floating point number: %10.0f' %(13.144))

floating point number:         13

In [116]:
print('floating point number:%1.0f' %(13.144))

floating point number:13

In [118]:
print('the house number is : %d'%(13.144))

the house number is : 13

In [121]:
print('House number:%d , road name:%s , name:%r'%(26,'Alexandra road','Mazumdars##'))

House number:26 , road name:Alexandra road , name:'Mazumdars##'

In [122]:
str = 'Woohoo'

In [124]:
length = len(str)

In [125]:
half_length = length//2

In [126]:
half_length

3

In [127]:
str = 'Hello'

In [132]:
a = str[1:]

In [133]:
a[:-1]

'ell'

In [138]:
print('I want to go to {2} {1} and {0} on holiday'.format('Portugal','Bahamas','Egypt'))

I want to go to Egypt Bahamas and Portugal on holiday

In [141]:
print('First:{b} , Second:{c} , Third:{a}'.format(a ='one',b = 2,c =13.44))

First:2 , Second:13.44 , Third:one

In [142]:
print('A %s saved is a %s earned'%('penny','penny'))

A penny saved is a penny earned

In [144]:
print('A {p} saved is a {p} earned'.format(p = 'penny'))

A penny saved is a penny earned

In [145]:
print('I love {}'.format('Aydin'))

I love Aydin

In [146]:
l = ['Fruit', 'Quantity']

In [147]:
l[0]

'Fruit'

In [148]:
l[1]

'Quantity'

In [158]:
print('{0:^15} | {1:^15} | {2:*^15} | {3:^5} '.format('Name','Middle name', 'Last name','Age'))
print('{0:<15} | {1:^15} | {2:*>15} | {3:^5} '.format('Monsur','Parvez','Mazumdar',36))
print('{0:<15} | {1:^15} | {2:*>15} | {3:^5} '.format('Aydin','Parvez','Mazumdar',6))
print('{0:<15} | {1:^15} | {2:*>15} | {3:^5} '.format('Sabina','Rohman','Barbhuiya',30))

     Name       |   Middle name   | ***Last name*** |  Age
Monsur          |     Parvez      | *******Mazumdar |  36
Aydin           |     Parvez      | *******Mazumdar |   6
Sabina          |     Rohman      | ******Barbhuiya |  30

In [159]:
True

True

In [160]:
False

False

In [161]:
type(False)

bool

In [162]:
1>2

False

In [163]:
1==1

True

In [164]:
b = None

#None keyword as placeholder

In [165]:
pwd

'C:\\Users\\Monsur'

In [168]:
%%writefile sabina1.txt
Humpty Dumpty
sat on the wall
humpty dumpty
had a great fall

Writing sabina1.txt

In [171]:
song_file = open('sabina1.txt')

In [172]:
song_file = open('monsue1.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'monsue1.txt'

In [173]:
pwd

'C:\\Users\\Monsur'

In [175]:
song_file =open('sabina1.txt')

In [184]:
song_file.read()

'Humpty Dumpty\nsat on the wall\nhumpty dumpty\nhad a great fall'

In [178]:
len('')

0

In [188]:
song_file.seek(0)
song_file.read()

'Humpty Dumpty\nsat on the wall\nhumpty dumpty\nhad a great fall'

In [189]:
song_file.read()

''

In [190]:
song_file.seek(1)

1

In [187]:
song_file.read()

'umpty Dumpty\nsat on the wall\nhumpty dumpty\nhad a great fall'

In [193]:
song_file.read()
song_file.seek(0)

0

In [194]:
contents = song_file.read()

In [195]:
contents

'Humpty Dumpty\nsat on the wall\nhumpty dumpty\nhad a great fall'

In [196]:
song_file.seek(0)

0

In [197]:
song_file.readlines()

['Humpty Dumpty\n', 'sat on the wall\n', 'humpty dumpty\n', 'had a great fall']

In [198]:
song2_file = open('Aydin1.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'Aydin1.txt'

In [199]:
pwd

'C:\\Users\\Monsur'

In [200]:
song2_file = open('C:\\Users\\Monsur\\Aydin\\Aydin1.txt')

In [201]:
song2_file.read()

'twinkle twinkle\nlittle starS'

In [202]:
song2_file.seek(0)

0

In [203]:
song2_file.readlines()

['twinkle twinkle\n', 'little starS']

In [206]:
contents2 = song2_file.readlines()

In [207]:
contents2

[]

In [208]:
song2_file.seek(0)

0

In [209]:
contents2

[]

In [210]:
contents2 = song2_file.readlines()

In [211]:
contents2

['twinkle twinkle\n', 'little starS']

In [220]:
song3_file = open('sabina1.txt')
contents3 = song3_file.read()
print(contents3.upper())
song3_file.close()

HUMPTY DUMPTY
SAT ON THE WALL
HUMPTY DUMPTY
HAD A GREAT FALL

In [222]:
with open('Aydin1.txt') as my_new_file:
    con

SyntaxError: unexpected EOF while parsing (<ipython-input-222-9d186b9283d4>, line 1)

In [224]:
%%writefile myfile.txt
Humty dumpty
sat on a wall
He had a great fall

Writing myfile.txt

In [225]:
myfile = open('myfile.txt')

In [226]:
myfile = open('whoop_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoop_wrong.txt'

In [227]:
pwd

'C:\\Users\\Monsur'

In [228]:
myfile = open('myfile.txt')

In [229]:
myfile.read()

'Humty dumpty\nsat on a wall\nHe had a great fall'

In [230]:
myfile.read()

''

In [231]:
myfile.seek(0)

0

In [232]:
myfile.read()

'Humty dumpty\nsat on a wall\nHe had a great fall'

In [233]:
myfile.seek(0)

0

In [234]:
myfile.readlines()

['Humty dumpty\n', 'sat on a wall\n', 'He had a great fall']

In [235]:
#readlines() makes list

In [236]:
pwd

'C:\\Users\\Monsur'

In [237]:
myfile.close()

In [238]:
myfile = open('myfile.txt')

In [239]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [240]:
contents

'Humty dumpty\nsat on a wall\nHe had a great fall'

In [246]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [247]:
contents

'Humty dumpty\nsat on a wall\nHe had a great fall'

In [270]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [271]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [272]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [273]:
with open('my_new_file.txt',mode='r')as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
    FOUR ON FOURTH

In [264]:
with open('abcdefg',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [265]:
with open('abcdefg',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [274]:
mystring = 'abcdefghijk'

In [275]:
mystring[0:3]

'abc'

In [278]:
mystring[0:7:2]

'aceg'

In [279]:
mystring[2:]

'cdefghijk'

In [280]:
mystring[:3]

'abc'

In [282]:
mystring[::]

'abcdefghijk'

In [283]:
mystring[::2]

'acegik'

In [284]:
mystring[2:7:2]

'ceg'

In [285]:
mystring[::-1]

'kjihgfedcba'

In [286]:
#white space counts as a character

In [287]:
if True:
    print("ITS' TRUE")

ITS' TRUE

In [293]:
if 3>2:
    print("It's true!")

It's true!

In [297]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [299]:
hungry = False

if hungry:
    print('FEED ME')
else:
    print('I AM NOT HUNGRY')

I AM NOT HUNGRY

In [309]:
loc = 'Store'

if loc == 'Bank':
    print('Money is cool')
    
elif loc == 'Car shop':
    print('Cars are cool')
    
elif loc == 'Park':
    print('Park is fun')
    
elif loc == 'Store':
    print('Welcome to the store')
    
else:
    print('I do not know much')

Welcome to the store

In [326]:
name = 'Aydin'

if name == 'Sammy':
    print('Hello Sammy')
    
elif name == 'Frankie':
    print('Hello Frankie')
    
elif name == 'Monsur':
    print('Hello Monsur')
    
else:
    print("Hello.What's your name?")

Hello.What's your name?

In [313]:
#for loops

In [314]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [316]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [317]:
#iterable

In [320]:
for num in mylist:
    #check for even no.
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number:{num}')

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [324]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [325]:
list_sum = 0

for num in mylist:
    list_sum = list_sum+num
print(list_sum)

55

In [328]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [329]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [330]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [335]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number:{num}')

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [336]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [338]:
mystring = 'Hello World'
for monsur in mystring:
    print(monsur)

H
e
l
l
o

W
o
r
l
d

In [342]:
for monsur in 'Hello World':
    print(monsur)

H
e
l
l
o

W
o
r
l
d

In [346]:
for _ in [1,2,3,4]:
    print(_)

1
2
3
4

In [347]:
t = (1,2,3)
for item in t:
    print(item)

1
2
3

In [348]:
#tuple unpacking

In [349]:
#tuple inside a list
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [350]:
len(mylist)

4

In [351]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [352]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [353]:
for (a,b) in mylist:
    print(b)

2
4
6
8

In [354]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [355]:
for a,b,c in mylist:
    print(b)

2
5
8

In [356]:
d = {'k1':1,'k2':2,'k3':3}

In [357]:
for item in d:
    print(item)

k1
k2
k3

In [358]:
for key,value in d:
    print(value)

1
2
3

In [361]:
for item in d.items():
    print(item)
#tuple unpacking

('k1', 1)
('k2', 2)
('k3', 3)

In [360]:
for value in d.values():
    print(value)

1
2
3

In [362]:
mylist = [1,2,3,4,5,6,7,8,10]

In [365]:
#newlist = 'I LOVE YOU' +for items in
for items in mylist:
    print (items)

1
2
3
4
5
6
7
8
10

In [370]:
new_line = 'I LOVE YOU'

for items in mylist:
    new_line = 'I LOVE YOU' + items 
    
    print(new_line)

TypeError: can only concatenate str (not "int") to str

In [409]:
for items in mylist:
    print(f'I LOVE YOU {items:{4}}    TIMES')

I LOVE YOU    1    TIMES
I LOVE YOU    2    TIMES
I LOVE YOU    3    TIMES
I LOVE YOU    4    TIMES
I LOVE YOU    5    TIMES
I LOVE YOU    6    TIMES
I LOVE YOU    7    TIMES
I LOVE YOU    8    TIMES
I LOVE YOU   10    TIMES

In [408]:
for items in mylist:
    if items%2 ==0:
        print(f'I LOVE YOU {items:{4}} TIMES')

I LOVE YOU    2 TIMES
I LOVE YOU    4 TIMES
I LOVE YOU    6 TIMES
I LOVE YOU    8 TIMES
I LOVE YOU   10 TIMES

In [376]:
x = [1,2,3]

for item in x:
    pass
print('end of my script')

end of my script

In [383]:
x = 0

while x < 5:
    print(f'The current value of x : {x}')
    x = x + 1

The current value of x : 0
The current value of x : 1
The current value of x : 2
The current value of x : 3
The current value of x : 4

In [384]:
#x+=1

In [388]:
x = 50

while x < 5:
    print(f'The current value of x : {x}')
    x+=1
else:
    print('X IS NOT LESS THAN 5')

X IS NOT LESS THAN 5

In [393]:
name = 'Sammy'

for letters in name:
    if letters == 'a':
        continue
    print(letters)

S
m
m
y

In [395]:
for letter in name:
    if letter == 'm':
        break
    print(letter)

S
a

In [401]:
x = 0

while x < 5:
    if x == 2:
        break
    print(f'The current value of x is {x}')
          
    x+=1

The current value of x is 0
The current value of x is 1

In [1]:
x = 0

while x < 5;
    if x ==2:
        break
    print(f'The current value is{x}')
          
    x+=1

SyntaxError: invalid syntax (<ipython-input-1-f4d6b2acfab8>, line 3)