In [5]:
#1
def div57(start,end):
    new_list = []
    for i in range(start,end+1):
        if i % 5 == 0 and i % 7 == 0:
            new_list.append(str(i))
    return ','.join(new_list)

In [6]:
div57(2000,3000)

'2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975'

In [7]:
#2
def get_factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [12]:
get_factorial(5)

120

In [13]:
#LC
result = [str(x) for x in range(2000,3001) if x % 5 == 0 and x % 7 == 0]
print(','.join(result))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975

In [9]:
#3
def dicty(n):
    my_dict = {}
    for i in range(1,n+1):
        my_dict[i] = i*i
    return my_dict

In [11]:
dicty(6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [14]:
#4
s = "34,67,55,33,12,98"
new_list = s.split(',')
new_list

['34', '67', '55', '33', '12', '98']

In [15]:
my_tup = tuple(new_list)
my_tup

('34', '67', '55', '33', '12', '98')

In [16]:
#5
class InOutString:
    def __init__(self,s):
        self.s = s
        
    def get_string(self):
        return self.s
    
    def to_upper(self):
        print(self.s.upper())

In [17]:
st = InOutString("sabina")
st.get_string()

'sabina'

In [18]:
st.to_upper()

SABINA

In [21]:
#6
import math
c = 50
h = 30
d_list = [100,150,180]
result = [str(round(math.sqrt((2 * c * d)/h))) for d in d_list]
','.join(result)

'18,22,24'

In [25]:
import math
c = 50
h = 30
d = "100,150,180"
d_list = d.split(',')
d_list
result = [str(round(math.sqrt((2*c*int(d)/h)))) for d in d_list]
','.join(result)

'18,22,24'

In [26]:
#7
X = 3
Y = 5
x_result = []
for i in range(1,X+1):
    y_result = []
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15]]

In [31]:
#8
s = "without,hello,bag,world"
new_list = s.split(',')
new_list
new_list.sort()
','.join(new_list)

'bag,hello,without,world'

In [33]:
#7 repeated
X = 6
Y = 7
x_result = []
for i in range(1,X+1):
    y_result = []
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

[[1, 2, 3, 4, 5, 6, 7], [2, 4, 6, 8, 10, 12, 14], [3, 6, 9, 12, 15, 18, 21], [4, 8, 12, 16, 20, 24, 28], [5, 10, 15, 20, 25, 30, 35], [6, 12, 18, 24, 30, 36, 42]]

In [40]:
#9
s = "Hello world\nPractice makes perfect"

t = [x.upper() for x in s.split('\n')]
print('\n'.join(t))

HELLO WORLD
PRACTICE MAKES PERFECT

In [45]:
#10
s = "hello world and practice makes perfect and hello world again"
new_list = s.split()
new_list
my_set = set(new_list)
l = list(my_set)

In [46]:
l

['perfect', 'makes', 'practice', 'hello', 'again', 'world', 'and']

In [47]:
l.sort()

In [48]:
l

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

In [49]:
' '.join(l)

'again and hello makes perfect practice world'

In [53]:
#11
s = "0100,0011,1010,1001"
result = [str(x) for x in s.split(',') if int(x) % 5 == 0]
','.join(result)

'0100,1010'

In [60]:
#12
def check_even(n):
    s = str(n)
    for i in s:
        if n % 2 != 0:
            return False
    return True

In [65]:
def check_each_digit(start,end):
    result = []
    for i in range(start,end+1):
        if check_even(i):
            result.append(str(i))
    return ','.join(result)

In [66]:
check_each_digit(100,200)

'100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200'

In [69]:
#12
#another way
result = []
for i in range(2000,3001):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0 and int(s[3]) % 2 == 0:
        result.append(s)
print(','.join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [71]:
def check_even(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [75]:
def check_each_number(start,end):
    result = []
    for i in range(start,end+1):
        if check_even(i):
            result.append(str(i))
    return ','.join(result)

In [77]:
check_each_number(10,100)

'20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88'

In [78]:
def check_even(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [83]:
def check_each_number(start,end):
    result = []
    for i in range(start,end+1):
        if check_even(i):
            result.append(str(i))
    return ','.join(result)

In [84]:
check_each_number(10,100)

'20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88'

In [99]:
#13
def count_digits(s):
    count_digit = 0
    count_letter = 0
    for i in s:
        if i.isdigit():
            count_digit += 1
        if i.isalpha():
            count_letter +=1
        else:
            pass
    return (f"LETTERS: {count_letter}\nDIGITS: {count_digit}")

In [100]:
s = "hello world! 123"
count_digits(s)

'LETTERS: 10\nDIGITS: 3'

In [103]:
#14
def upper_lower(s):
    d = {'upper': 0, 'lower': 0}
    for i in s:
        if i.isupper():
            d['upper'] += 1
        elif i.islower():
            d['lower'] += 1
        else:
            pass
    return d

In [106]:
x = upper_lower("Hello world!")

In [108]:
print(f"UPPER: {x['upper']}\nLOWER: {x['lower']}")

UPPER: 1
LOWER: 9

In [109]:
#15
n = 9
n1 = (n*10) + n
n2 = (n*100) + n1
n3 = (n*1000) + n2
print(n+n1+n2+n3)

11106

In [112]:
#16
s = "1,2,3,4,5,6,7,8,9"
result = [str(int(i) ** 2) for i in s.split(',') if int(i) % 2 != 0]
print(','.join(result))

1,9,25,49,81

In [118]:
#17
def bank_account(s):
    new_list = s.split(',')
    other_list = []
    for i in new_list:
        other_list.append(tuple(i.split()))
    #print(other_list)
    
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) !=2:
            raise Exception(f"Invalid entry found: {tup}, entry number: {index+1}")
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance += int(tup[1])
        else:
            raise Exception(f"Undefined value found: {tup[0]} in entry number: {index+1}")
    return balance

In [121]:
s = "D 100,W 50,D 200, D  300, d 10, w 20, x 30"
bank_account(s)

Exception: Undefined value found: x in entry number: 7

In [122]:
def bank_account(s):
    new_list = s.split(',')
    other_list = []
    for i in new_list:
        other_list.append(tuple(i.split()))
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) != 2:
            raise Exception(f"Invalid entry found: {tup} in entry number: {index+1}")
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance += int(tup[1])
        else:
            raise Exception(f"Undefined value found: {tup} in entry number: {index+1}")
    return balance

In [124]:
s = "D 100,W 50,D 200, D  300, d 10, w 20"
bank_account(s)

680

In [125]:
def get_criteria(s):
    d = {
        'letter between [a-z]': False,
        'number between [0-9]': False,
        'letter between [A-Z]': False,
        'character from [$#@]': False,
        'min length': 6,
        'max length': 12
    }
    
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
        if i.isalpha() and i.isupper():
            d['letter between [A-Z]'] =True
        if i in '$#@':
            d['character from [$#@]'] = True
        if len(s) >= 6:
            d['min length'] = True
        if len(s) <=12:
            d['max length'] = True
    return d

def get_password(s):
    criteria = get_criteria(s)
    
    unmatched_criteria = []
    for i in criteria:
        if criteria[i] == False:
            unmatched_criteria.append(i)
            
    if len(unmatched_criteria) == 0:
        print("Good Password")
            
    else:
        print("Bad password- reason: ")
        print('\n'.join(unmatched_criteria))

In [126]:
from enum import Enum
class Animal(Enum):
    dog = 1
    cat = 2
    duck = 3
    chicken = 4

In [132]:
print(Animal.dog)

Animal.dog

In [131]:
from enum import enum
Numbers = enum('ZERO', 'ONE', 'TWO')
Numbers.ZERO

ImportError: cannot import name 'enum' from 'enum' (C:\ProgramData\Anaconda3\lib\enum.py)

In [134]:
Animal.dog.value

1

In [135]:
X = 3
Y = 5
x_result = []
for i in range(1,X+1):
    y_result = []
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15]]

In [138]:
s = "Hello world\nPractice makes perfect"
new_list = s.split("\n")
new_list
other_list = []
for i in new_list:
    other_list.append(i.upper())
print('\n'.join(other_list))

HELLO WORLD
PRACTICE MAKES PERFECT

In [141]:
s = "hello world and practice makes perfect and hello world again"
new_list = s.split()
my_set = set(new_list)
my_list = list(my_set)
my_list.sort()
my_list

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

In [142]:
def div_5(s):
    l = s.split(',')
    other_list = []
    for i in l:
        if int(i) % 5 == 0:
            other_list.append(str(i))
    return ','.join(other_list)

In [143]:
div_5('0100,0011,1010,1001')

'0100,1010'

In [149]:
def get_even(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [150]:
def each_even(start,end):
    s = str(n)
    other_list = []
    for i in range(start,end+1):
        if get_even(i):
            other_list.append(str(i))
    return ','.join(other_list)

In [151]:
 each_even(10,100)

'20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88'

In [153]:
result = []
for i in range(2000,3001):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0 and int(s[3]) % 2 == 0:
        result.append(s)
print(','.join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [158]:
s = "1,2,3,4,5,6,7,8,9"
result = [str(int(x)**2) for x in s.split(',') if int(x) % 2 != 0]
','.join(result)

'1,9,25,49,81'

In [183]:
def bank_account(s):
    l = s.split(',')
    other_list = []
    for i in l:
        other_list.append(tuple(i.split()))
        
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) != 2:
            raise Exception(f"Invalid entry, entry number: {index +1}")
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance -= int(tup[1])
        else:
            raise Exception(f"Undefined value: {tup[0]}, entry number: {index+1}")
    return balance

In [184]:
s = "D 300, D 300, W 200, D 100, X 500"
bank_account(s)

Exception: Undefined value: X, entry number: 5

In [194]:
def get_criteria(s):
    d = {
        'letter between [a-z]': False,
        'number between [0-9]':False,
        '1 letter between [A-Z]':False,
        '1 character from [$#@]':False,
        'minimum length': False,
        'maximum length': False
    }
    
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
        if i.isalpha() and i.isupper():
            d['1 letter between [A-Z]'] = True
        if i in '$#@':
            d['1 character from [$#@]'] = True
        if len(s) > 6:
            d['minimum length'] = True
        if len(s) <= 12:
            d['maximum length'] = True
            
    return d

def get_password(s):
    criteria = get_criteria(s)
    unmatched_criteria = []
    
    for key in criteria:
        if criteria[key] == False:
            unmatched_criteria.append(key)
            
    if len(unmatched_criteria) == 0:
        print('Good password')
    else:
        print('Bad password: reason: ')
        print('\n'.join(unmatched_criteria))

In [195]:
get_password('ABd1234@1')

Good password

In [196]:
get_password('a F1#,2w3E*')

Good password

In [197]:
get_password('123')

Bad password: reason:
letter between [a-z]
1 letter between [A-Z]
1 character from [$#@]
minimum length

In [209]:
robot_steps = [('u', 5), ('d', 3), ('l',3), ('r', 2)]
current_position = [0,0]
for i in robot_steps:
    direction = i[0]
    steps = i[1]
    if direction == 'u':
        current_position[1] += steps
    if direction == 'd':
        current_position[1] -= steps
    if direction == 'l':
        current_position[0] -= steps
    if direction == 'r':
        current_position[0] += steps
print(tuple(current_position))
dist = round(((current_position[0])**2 + (current_position[1])**2)**0.5, 3)
dist

(-1, 2)

2.236

In [210]:
from operator import itemgetter
l = [("Tom",19,80),("John",20,90),("Jony",17,91),("Jony",17,93),("Json",21,85)]
sorted(l, key = itemgetter(0,1,2))

[('John', 20, 90),
 ('Jony', 17, 91),
 ('Jony', 17, 93),
 ('Json', 21, 85),
 ('Tom', 19, 80)]

In [3]:
s = 'D 300, D 300, W 200, D 100'
new_list = s.split(',')
new_list

['D 300', ' D 300', ' W 200', ' D 100']

In [8]:
def bank_account(s):
    new_list = s.split(',')
    other_list = []
    for i in new_list:
        other_list.append(tuple(i.split()))
    balance = 0
    for index,tup in enumerate(other_list):
        if len(s) != 2:
            raise Exception("Invalid entry")
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        if tup[0].lower() == 'w':
            balance -= int(tup[1])
        else:
            raise Exception(f"Undefined entry: {tup[0]}, entry number: {index + 1}")
    return balance

In [9]:
s = 'D 300, D 300, W 200, D 100'
bank_account(s)

Exception: Invalid entry

In [15]:
def get_criteria(s):
    d = {
        'letter between [a-z]': False,
        'number between [0-9]':False,
        '1 letter between [A-Z]':False,
        '1 character from [$#@]':False,
        'minimum length': False,
        'maximum length': False
    }
    
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
        if i.isalpha() and i.isupper():
            d['1 letter between [A-Z]'] = True
        if i in '$#@':
            d['1 character from [$#@]'] = True
        if len(s) > 6:
            d['minimum length'] = True
        if len(s) <= 12:
            d['maximum length'] = True
            
    return d
    
def get_password(s):
    criteria = get_criteria(s)
    unmatched_criteria = []
    for key in criteria:
        if criteria[key] == False:
            unmatched_criteria.append(key)
            
    if len(unmatched_criteria) == 0:
        print('Good password!')
    else:
        print('Bad password')
        print('\n'.join(unmatched_criteria))

In [16]:
get_password("ABd1234@1")

Good password!

In [17]:
get_password("2We3345")

Bad password
1 character from [$#@]

In [20]:
get_password('a F1#')

Bad password
minimum length

In [25]:
from operator import itemgetter
l = [('Tom',19,80), ('John',20,90),('Jony',17,91),('Jony',17,93),('Json',21,85)]
sorted(l, key= itemgetter(0,1,2))

[('John', 20, 90),
 ('Jony', 17, 91),
 ('Jony', 17, 93),
 ('Json', 21, 85),
 ('Tom', 19, 80)]

In [26]:
def gen_7(n):
    for i in range(0,n+1):
        if i % 7 ==0:
            yield i

In [28]:
for i in gen_7(10):
    print(i)

0
7

In [29]:
s = 'U 5, D 3, L 3, R 2'
l = s.split(',')

In [30]:
l

['U 5', ' D 3', ' L 3', ' R 2']

In [40]:

def robot_steps(l):
    current_position = [0,0]
    
    for i in l:
        direction = i[0].lower()
        steps = int(i[1])
        if direction == 'u':
            current_position[1] += steps
        if direction == 'd':
            current_position[1] -= steps
        if direction == 'l':
            current_position[0] -= steps
        if direction == 'r':
            current_position[0] += steps
        else:
            pass
    return round(((current_position[1])**2 + (current_position[0])**2)**0.5)

In [41]:
l = [('U', 5), ('D', 3), ('L', 3), ('R', 2)]
robot_steps(l)

2

In [47]:
s = 'New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.'
l = s.split()
#print(l)
d = {}
for i in l:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
print(d)

{'New': 1, 'to': 1, 'Python': 5, 'or': 2, 'choosing': 1, 'between': 1, '2': 2, 'and': 1, '3?': 1, 'Read': 1, '3.': 1}

In [48]:
sorted_list = sorted(list(d))

In [49]:
for i in sorted_list:
    print(f"{i}: {d[i]}")

2: 2
3.: 1
3?: 1
New: 1
Python: 5
Read: 1
and: 1
between: 1
choosing: 1
or: 2
to: 1

In [50]:
print(abs.__doc__)

Return the absolute value of the argument.

In [51]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

In [52]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [53]:
class Person:
    name="Person"
    def __init__(self,name):
        self.name = name

In [54]:
aydin = Person('aydin')

In [55]:
aydin.name

'aydin'

In [56]:
Person.name

'Person'