In [1]:
#1
from datetime import datetime
def turn_100(name,age):
    current_year = int(datetime.now().year)
    year_of_birth = current_year - age
    year_100 = year_of_birth + 100
    print(f"{name} will turn 100 in {year_100}")

In [2]:
turn_100('sabina',31)

sabina will turn 100 in 2088

In [3]:
#2
def even_odd(n):
    if n%2 == 0:
        return("EVEN NUMBER FOUND")
    else:
        return("ODD NUMBER FOUND")

In [4]:
even_odd(36)

'EVEN NUMBER FOUND'

In [5]:
even_odd(43)

'ODD NUMBER FOUND'

In [6]:
def num_check(n,c):
    if n % c == 0:
        return("It is divisible")
    else:
        return("It is not divisible")

In [7]:
num_check(16,8)

'It is divisible'

In [8]:
#3
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print(a[:4])

[1, 1, 2, 3]

In [9]:
result = [x for x in a if x < 5]
result

[1, 1, 2, 3]

In [10]:
other_list = []
for i in a:
    if i < 5:
        other_list.append(i)
print(other_list)

[1, 1, 2, 3]

In [11]:
#4
def divisor(n):
    new_list = []
    for i in range(2,n):
        if n % i == 0:
            new_list.append(i)
    return new_list

In [12]:
divisor(50)

[2, 5, 10, 25]

In [13]:
divisor(10)

[2, 5]

In [14]:
divisor(41)

[]

In [15]:
#4.1
def is_prime(n):
    return len(divisor(n)) == 0

In [16]:
is_prime(41)

True

In [17]:
is_prime(50)

False

In [18]:
#5
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

new_list = []
for i in a:
    if i in b:
        if i not in new_list:
            new_list.append(i)
print(new_list)

[1, 2, 3, 5, 8, 13]

In [19]:
result = list(set([x for x in a if x in b]))
result

[1, 2, 3, 5, 8, 13]

In [20]:
from random import randint
r1 = [randint(1,10) for _ in range(10)]
r2 = [randint(1,10) for _ in range(10)]

In [21]:
r1

[3, 4, 9, 3, 5, 6, 8, 1, 6, 6]

In [22]:
r2

[2, 8, 10, 6, 1, 5, 7, 9, 6, 4]

In [23]:
result = list(set([x for x in r1 if x in r2]))
result

[1, 4, 5, 6, 8, 9]

In [24]:
#6
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
result = [x for x in a if x % 2 == 0]
result

[4, 16, 36, 64, 100]

In [25]:
#12
l = [5,10, 15, 20, 25]
new_list = []
first = l[0]
last = l[-1]
# new_list.append(first)
# new_list.append(last)
new_list = [first, last]
new_list

[5, 25]

In [26]:
#13
first = 1
second = 1
result = [first, second]
n = 10
for i in range(10):
    third = first + second
    result.append(third)
    first = second
    second = third
print(result)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [34]:
#14
def duplicates(n):
    new_list = []
    for i in n:
        new_list.append(i)
    return get_set(new_list)

In [35]:
duplicates([1,1,1,2,2,2,3,3,3,3])

[1, 2, 3]

In [31]:
def get_set(l):
    new_set = set(l)
#     print(new_set)
    other_list = list(new_set)
    return other_list

In [36]:
get_set([1,1,1,2,2,2])

[1, 2]

In [1]:
#10
a = [1,2,3,2]
b = [2,3,4]
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)
print(c)

[2, 3]

In [4]:
c = [x for x in a if x in b]
list(set(c))

[2, 3]

In [5]:
#24
size = 3
def horizontal_block():
    return " ---"
    
def full_horizontal(size):
    hori_line = ""
    for i in range(size):
        hori_line += horizontal_block()
    print(hori_line)

In [7]:
full_horizontal(6)

 --- --- --- --- --- ---

In [11]:
def vertical_block():
    return "|   "

def vert_full(size):
    vert = ""
    for i in range(size + 1):
        vert += vertical_block()
    print(vert)

In [12]:
vert_full(3)

|   |   |   |

In [17]:
def full_board(size):
    for i in range(size):
        full_horizontal(size)
        vert_full(size)
    full_horizontal(size)

In [23]:
full_board(3)

 --- --- ---
|   |   |   |
 --- --- ---
|   |   |   |
 --- --- ---
|   |   |   |
 --- --- ---

In [13]:
def reverse_order(s):
    new_list = s.split()
    other_list = new_list[::-1]
    print(' '.join(other_list))

In [14]:
reverse_order("My name is Michael")

Michael is name My

In [15]:
x = "My name is Micheal"
result = ' '.join(x.split()[::-1])
result

'Micheal is name My'

In [37]:
random_number = str(1190)
def is_cow_bull(user_input):
    
    cow_count = 0
    bull_count = 0
    for i,c in enumerate(user_input):
        if c == random_number[i]:
            cow_count += 1
        elif c in random_number:
            bull_count += 1
    return f"{cow_count} cow, {bull_count} bull"

In [38]:
is_cow_bull("1234")

'1 cow, 0 bull'

In [ ]:
def play_cow_game(user_word, hidden_word):
    while True: