In [1]:
#1
def multi_div(start,end):
    new_list = []
    for i in range(start,end+1):
        if i % 7 == 0 and i % 5 != 0:
            new_list.append(str(i))
    return ','.join(new_list)

In [2]:
multi_div(10,51)

'14,21,28,42,49'

In [3]:
#2
def factorial(n):
    if n == 0:
        return 1
    
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [4]:
#3
def dict_square(n):
    new_dict = {}
    for i in range(1,n+1):
        new_dict[i] = i*i
    return new_dict

In [5]:
dict_square(4)

{1: 1, 2: 4, 3: 9, 4: 16}

In [6]:
#4
def str_conversion(s):
    new_list = s.split(',')
    print(new_list)
    new_tuple = tuple(new_list)
    print(new_tuple)

In [7]:
str_conversion('34,67,55,33,12,98')

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [8]:
#5
#class UpperString:
    #def __init__(self):
        #self.string = ''
        
    #def get_string(self):
       # self.string = input('Enter a string please: ')
        
    #def to_upper(self):
        #return self.string.upper()
    
#if __name__ == '__main__':
    #item = UpperString()
    #item.get_string()
   # print(item.to_upper())

In [9]:
import math
d_str = '100,150,180'
d_list = d_str.split(',')
c = 50
h = 30
print(d_list)
result = []
for d in d_list:
    result.append(str(round(math.sqrt((2* c*int(d))/h))))
print(','.join(result))

['100', '150', '180']
18,22,24

In [10]:
#7
def two_dimension(x,y):
    x_result = []
    for i in range(1,x+1):
        y_result = []
        for j in range(1,y+1):
            y_result.append(i*j)
            x_result.append(y_result)
    return x_result

In [11]:
two_dimension(3,5)

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [2, 4, 6, 8, 10],
 [2, 4, 6, 8, 10],
 [2, 4, 6, 8, 10],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [3, 6, 9, 12, 15],
 [3, 6, 9, 12, 15],
 [3, 6, 9, 12, 15],
 [3, 6, 9, 12, 15]]

In [12]:
#8
s = 'without,hello,bag,world'
new_list = s.split(',')
#print(new_list)
new_list.sort()
#print(new_list)
print(','.join(new_list))

bag,hello,without,world

In [13]:
#9
s = 'Hello world\nPractice makes perfect'
#print(s)
result = [x.upper() for x in s.split('\n')]
print('\n'.join(result))

HELLO WORLD
PRACTICE MAKES PERFECT

In [14]:
#10
s = 'hello world and practice makes perfect and hello world again'
new_list = s.split()
#print(new_list)
my_set = set(new_list)
l = list(my_set)
l.sort()
print(' '.join(l))

again and hello makes perfect practice world

In [15]:
#11
input_string = '0100,0011,1010,1001'
input_list = input_string.split(',')
print(input_list)
result = [x for x in input_list if int(x) % 5 == 0]
','.join(result)

['0100', '0011', '1010', '1001']

'0100,1010'

In [16]:
#12
def even_digit(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [17]:
def odd_even(start,end):
    result = []
    for i in range(start,end+1):
        if even_digit(i):
            result.append(str(i))
    return ','.join(result)

In [18]:
odd_even(1,100)

'2,4,6,8,20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88'

In [19]:
result = []
for i in range(2000,3001):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0 and int(s[3]) % 2 ==0:
        result.append(s)
print(','.join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [20]:
#13
def alpha_digit(s):
    count_alpha = 0
    count_digit = 0
    for i in s:
        if i.isalpha():
            count_alpha += 1
        elif i.isdigit():
            count_digit += 1
        else:
            pass
    return(f'LETTERS: {count_alpha}\nDIGITS: {count_digit}')

In [21]:
print(alpha_digit('hello world! 123'))

LETTERS: 10
DIGITS: 3

In [22]:
#14
def upper_lower(s):
    count_upper = 0
    count_lower = 0
    for i in s:
        if i.isupper():
            count_upper += 1
        elif i.islower():
            count_lower += 1
        else:
            pass
    return(f'UPPER CASE: {count_upper}\nLOWER CASE: {count_lower}')

In [23]:
print(upper_lower('Hello world!'))

UPPER CASE: 1
LOWER CASE: 9

In [24]:
#15
def add_up(n):
    n1 = n
    n2 = n1 + (n*10)
    n3 = n2 + (n*100)
    n4 = n3 +(n*1000)
    
    return n1+n2+n3+n4

In [25]:
add_up(9)

11106

In [26]:
#16
user_input = "1,2,3,4,5,6,7,8,9"
new_list = user_input.split(',')
print(new_list)
result = [int(x)**2 for x in new_list if int(x)%2 != 0]
print(result)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
[1, 9, 25, 49, 81]

In [27]:
#17
def bank_account(mystring):
    new_list = mystring.split(',')
    other_list = []
    for i in new_list:
        other_list.append(tuple(i.split()))
        
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) != 2:
            raise Exception(f"Invalid entry found: {tup}, entry number: {index+1} ")
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance -= int(tup[1])
        else:
            raise Exception(f"Undefined value found: {tup[0]}, entry number:{index+1}")
            
    return balance

In [28]:
bank_account('D 300, D 300, W 200, D 100, x 20')

Exception: Undefined value found: x, entry number:5

In [ ]:
def get_criteria(s):
    d = {
        'letter between [a-z]': False,
        'number between [0-9]': False,
        'letter between [A-Z]': False,
        'character from [$#@]': False,
        'Minimum length of transaction password': False,
        'Maximum length of transaction password': False
    }
    
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
        if i.isalpha() and i.isupper():
            d['letter between [A-Z]'] = True
        if i in '$#@':
            d['character from [$#@]'] = True
        if len(s) >= 6:
            d['Minimum length of transaction password'] = True
        if len(s) <= 12:
            d['Maximum length of transaction password'] = True
            
    return d
            
def check_password(s):
    criteria = get_criteria(s)
    unmatched_criteria = []
    
    for key in criteria:
        if criteria[key] == False:
            unmatched_criteria.append(key)
        
    if len(unmatched_criteria) == 0:
        print('Good Password')
    else:
        print('Bad password: Reason: ')
        print('\n'.join(unmatched_criteria))

In [ ]:
check_password('123')

In [ ]:
s =[('Tom',19,80),('John',20,90),('Jony',17,91),('Jony',17,93),('Json',21,85)]
print(s)

In [ ]:
from operator import itemgetter, attrgetter

sorted(s, key = itemgetter(0,1,2))

In [ ]:
#20
def square(n):
    print('Entered generator')
    i =0
    while i <= n:
        print("I am inside while loop: " + str(i))
        sq = i * i
        i += 1
        yield sq

In [ ]:
for i in square(10):
    print(i)

In [ ]:
#21

robot_steps = [('up',5), ('down',3),('left',3),('right',2)]
current_location = [0,0]
for i in robot_steps:
    direction =  i[0]
    steps = i[1]
    if direction == 'up':
        current_location[1] += steps
    if direction == 'down':
        current_location[1] -= steps
    if direction == 'left':
        current_location[0] -= steps
    if direction == 'right':
        current_location[0] += steps
        
print(tuple(current_location))

In [ ]:
dist = round((current_location[0]**2 + current_location[1]**2)**0.5,3)
dist

In [ ]:
s = "Hello world"
s

In [ ]:
t = "\"" + s + "\"" + "! How are you?"
t

In [ ]:
#22
s = 'New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.'
new_list = s.split()
new_list

In [ ]:
my_dict = {}
for word in new_list:
    if word not in my_dict:
        my_dict[word] = 1
    else:
        my_dict[word] += 1
print(my_dict)

In [ ]:
sorted_list = sorted(list(my_dict))

In [ ]:
for word in sorted_list:
    print(f"{word}: {my_dict[word]}")

In [ ]:
s = "New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3."
new_list = s.split()
new_list

In [ ]:
my_dict = {}
for word in new_list:
    if word not in my_dict:
        my_dict[word] = 1
    else:
        my_dict[word] += 1
print(my_dict)

In [ ]:
sorted_list = sorted(list(my_dict))

In [ ]:
for word in sorted_list:
    print(f"{word}: {my_dict[word]}")

In [ ]:
s = "Hello Aydin! How are you today? How is mum. Bye Aydin today."
new_list = s.split()
new_list

In [ ]:
my_dict = {}
for word in new_list:
    if word not in my_dict:
        my_dict[word] = 1
    else:
        my_dict[word] += 1
print(my_dict)
sorted_list = sorted(list(my_dict))

In [ ]:
for word in sorted_list:
    print(f'{word}: {my_dict[word]}')

In [ ]:
#23
def square(n):
    return n**2

In [ ]:
#24
print(abs.__doc__)

In [ ]:
print(int.__doc__)

In [ ]:
print(len.__doc__)

In [ ]:
#25
class Person:
    nickname = 'Aydu'
    
    def __init__(self,name):
        self.nickname = name

In [ ]:
person = Person('Aydin')

In [ ]:
person.nickname

In [ ]:
Person.nickname

In [ ]:
#1
def div_mul7(start,end):
    new_list = []
    for i in range(start,end+1):
        if i % 7 == 0 and i % 5 != 0:
            new_list.append(i)
        return ','.join(new_list)

In [ ]:
div_mul7(10,20)

In [ ]:
#2
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [ ]:
factorial(4)

In [ ]:
#3
def gen_dict(n):
    my_dict = {}
    for i in range(1,n+1):
         my_dict[i] = i*i
    return my_dict

In [ ]:
gen_dict(8)

In [ ]:
#4
s = '34,67,55,33,12,98'
new_list = s.split(',')
print(new_list)
print(tuple(new_list))

In [ ]:
#5
# class InOutString:
#     def __init__(self):
#         self.result = ''
#     def get_string(self):
#         self.result = input("Enter a string: ")
        
#     def print_upper(self):
#         return self.result.upper()
    
# if __name__ == '__main__':
#     item = InOutString()
#     item.get_string()
#     print(item.print_upper)

In [ ]:
#6
import math
C = 50
H = 30
d = '100,150,180'
d_list = d.split(',')

result = [str(round(math.sqrt(2 * C * int(d)/H))) for d in d_list]
print(','.join(result))

In [ ]:
#7
X = 3
Y = 4
x_result = []
for i in range(1,X+1):
    y_result = []
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

In [ ]:
#8
s = "without,hello,bag,world"
new_list = s.split(',')
sorted_list = sorted(new_list)
print(','.join(sorted_list))

In [ ]:
#9
s = 'Hello world\nPractice makes perfect'
new_list = s.split('\n')
new_list
other_list = []
for i in new_list:
    other_list.append(i.upper())
print('\n'.join(other_list))

In [ ]:
#LC
line =  'Hello world\nPractice makes perfect'
print(line.split('\n'))
result = [x.upper() for x in line.split('\n')]
print('\n'.join(result))

In [ ]:
furze = {'Triangle':['Aydin', 'Izaan', 'Imran'], 
         'Circle':['Umer', 'Saim', 'Aarav'], 
         'Diamond':['Riya', 'Diana', 'Simran']}
furze

In [ ]:
for base in furze:
    print(base)

In [ ]:
for base,students in furze.items():
    #print(base)
    #print('-------')
    for student in students:
        print(f'{student}: {base}')
    print('\n')

In [ ]:
#hacker rank
def time_conversion(s):
    is_am = s[-2:] == 'AM'
    is_12 = s[:2] == '12'
    s = s[:-2] 
    if is_am:
        if is_12:
            time_part_broken = s.split(':')
            time_part_broken[0] == '00'
            return ':'.join(time_part_broken)
        else:
            return s
    else:
        if is_12:
            return s
        else:
            time_part_broken = s.split(':')
            hour = time_part_broken[0]
            hour = int(hour) + 12
            time_part_broken[0] = str(hour)
            return ':'.join(time_part_broken)

In [ ]:
time_conversion('00:30:06 AM')

In [ ]:
time_conversion('07:30:06 PM')

In [ ]:
time_conversion('12:30:06 PM')

In [ ]:
furze = {'Triangle':['Aydin', 'Izaan', 'Imran'], 
         'Circle':['Umer', 'Saim', 'Aarav'], 
         'Diamond':['Riya', 'Diana', 'Simran']}
furze

In [ ]:
for base,students in furze.items():
    for student in students:
        print(f"{student}: {base}")
    print('\n')

In [ ]:
X = 3
Y = 4
x_result = []
for i in range(1,X+1):
    y_result =[]
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

In [ ]:
#10
s = 'hello world and practice makes perfect and hello world again'
new_list = s.split()
new_list
my_set = set(new_list)
#my_set
l = list(my_set)
l
sorted_l = sorted(l)
sorted_l
print(','.join(sorted_l))
# sorted_list = sorted(new_list)
# sorted_list
# l = list(my_set)
# l

In [ ]:
#11
s = '0100,0011,1010,1001'
l = s.split(',')
print(l)
other_l = []
for i in l:
    if int(i) % 5 == 0:
        other_l.append(str(i))
print(','.join(other_l))

In [ ]:
#Lc
s = '0100,0011,1010,1001'
l = s.split(',')
print(l)
result = [x for x in l if int(x) % 5 == 0]
','.join(result)

In [ ]:
#12
new_list = []
for i in range(2000,3001):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0 and int(s[3]) % 2 == 0:
        new_list.append(s)
print(','.join(new_list))

In [ ]:
#11 other way
def odd_even(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [ ]:
def common_odd_even(start,end):
    result = []
    for i in range(start,end+1):
        if odd_even(i):
            result.append(str(i))
    return ','.join(result)

In [ ]:
common_odd_even(10,100)

In [ ]:
#13
s = 'hello world! 123'
count_letters=0
count_numbers = 0
for i in s:
    if i.isalpha():
        count_letters += 1
    if i.isdigit():
        count_numbers += 1
print(f"LETTERS:{count_letters}\nDIGITS:{count_numbers}")

In [ ]:
#14
s = 'Hello world!'
result = {'upper': 0,'lower': 0}
for i in s:
    if i.isupper():
        result['upper'] += 1
    if i.islower():
        result['lower'] += 1
print(f"UPPER: {result['upper']}\nLOWER: {result['lower']}")

In [ ]:
#15
n = 9
n1 = n + (n*10)
n2 = n1 + (n*100)
n3 = n2 + (n*1000)
print(n+n1+n2+n3)

In [ ]:
#16
s = '1,2,3,4,5,6,7,8,9'
l =s.split(',')
result = [str(int(x)**2) for x in s.split(',') if int(x) % 2 == 0]
','.join(result)

In [ ]:
#17
s = 'D 100,W 50,D 200, D  300, d 10, w 20'
l = s.split(',')
l
# my_list = [('D', 300),('D' 300),('W' 200),('D' 100)]
# balance = 0
# for tup in my_list:
#     if tup[0].upper() == "D":
#         balance += int(tup[1])
#     if tup[0].upper() == 'W':
#         balance += int(tup[1])
# print(balance)

In [ ]:
other_list = []
for i in l:
    other_list.append(tuple(i.split()))
#print(other_list)
balance = 0
for i in other_list:
    if i[0].lower() == 'd':
        balance += int(i[1])
    if i[0].lower() == 'w':
        balance -= int(i[1])
print(balance)

In [ ]:
def bank_account(mystring):
    new_list = mystring.split(',')
    other_list = []
    for i in new_list:
        other_list.append(tuple(i.split()))
    
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) < 2:
            raise Exception(f"Invalid entry found: {tup}, Entry number:{index + 1}")
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance -= int(tup[1])
        else:
            raise Exception(f"Undefined value found: {tup[0]}, Entry number: {index + 1}")
    return balance

In [ ]:
 bank_account('D 300, D 300, W 200, D 100, D')

In [ ]:
#18
def get_criteria(s):
    d = {
        'letter between [a-z]' : False,
        'number between [0-9]' : False,
        'letter between [A-Z]' : False,
        'character from [$#@]' : False,
        'Minimum length' : False,
        'Maximum length'  : False
    }
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
        if i.isalpha() and i.isupper():
            d['letter between [A-Z]'] = True
        if i in '$#@':
            d['character from [$#@]'] = True
        if len(s) > 6:
            d['Minimum length'] = True
        if len(s) <= 12:
            d['Maximum length'] = True
    return d

In [ ]:
def get_password(s):
    criteria = get_criteria(s)
    unmatched_criteria = []
    for key in criteria:
        if criteria[key] == False:
            unmatched_criteria.append(key)
    if len(unmatched_criteria) == 0:
        print('Good Password')
    else:
        print('Bad Password- Reason: ')
        print('\n'.join(unmatched_criteria))

In [ ]:
get_password('123')

In [ ]:
get_password('sab123V@bnmrte')

In [ ]:
#19
t = [('Tom',19,80),('John',20,90),('Jony',17,91),('Jony',17,93),('Json',21,85)]
print(t)

In [ ]:
from operator import itemgetter,attrgetter
sorted(t,key = itemgetter(0,1,2))

In [ ]:
#20
def yield7(n):
    i = 1
    while i < n:
        if i % 7:
            i += 1
            yield i

In [ ]:
for i in yield7(10):
    print(i)

In [ ]:
def find_square(n):
    i = 1
    while i < n:
        print(f"I am inside while loop: " + str(i))
        sq = i*i
        i += 1
        yield sq

In [ ]:
for i in find_square(10):
    print(i)

In [ ]:
s = 'u 5, d 3, l 3, r 2'
new_list = s.split(',')
print(new_list)

In [29]:
s = 'u 5, d 3, l 3, r 2'
s

'u 5, d 3, l 3, r 2'

In [30]:
new_list = s.split(',')

In [31]:
new_list

['u 5', ' d 3', ' l 3', ' r 2']

In [32]:
other_list = []
for i in new_list:
    other_list.append(tuple(i.split()))
print(other_list)

[('u', '5'), ('d', '3'), ('l', '3'), ('r', '2')]

In [36]:
#21
current_position = [0,0]
for tup in other_list:
    if tup[0] == 'u':
        current_position[1] += int(tup[1])
    if tup[0] == 'd':
        current_position[1] -= int(tup[1])
    if tup[0] == 'l':
        current_position[0] -= int(tup[1])
    if tup[0] == 'r':
        current_position[0] += int(tup[1]) 
        
print(current_position)
dist = round(((current_position[0] ** 2) + (current_position[1] ** 2))**0.5,3)
dist

[-1, 2]

2.236

In [40]:
#22
s = 'New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.'
new_list = s.split()
new_list
my_dict = {}
for word new_list:
    if word not in my_dict:
        my_dict[word] = 1
    else:
        my_dict[word] += 1
print(my_dict)

SyntaxError: invalid syntax (<ipython-input-40-9f9216fcbd96>, line 6)