In [1]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num -1)

In [2]:
def factorial(n):
    num = 1
    while n >= 1:
        num = num * n
        n = n-1
    return num

In [25]:
#2
def fact(n):
    result = 1
    for i in range(1,n+1):
        result = result*i
    return result

In [31]:
fact(5)

120

In [16]:
#3
def div_mul(start,end):
    new_list = []
    for i in range(start,end+1):
        if i % 7 == 0 and i % 5 != 0:
            new_list.append(str(i))
    return ','.join(new_list)

In [19]:
div_mul(10,20)

'14'

In [20]:
def div_mul_lc(start,end):
    new_list = [str(i) for i in range(start,end+1) if i%7 == 0 and i%5 != 0]
    return ','.join(new_list)

In [21]:
div_mul_lc(10,30)

'14,21,28'

In [22]:
#4
def dicty_square(n):
    new_dict = {}
    for i in range(1,n+1):
        new_dict[i] = i*i
    return new_dict

In [23]:
dicty_square(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [24]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [32]:
#5
d = '34,67,55,33,12,98'
d.split(',')

['34', '67', '55', '33', '12', '98']

In [30]:
tuple(c)

('34', '67', '55', '33', '12', '98')

In [6]:
#6
import math
d_list = [100,150,180]
c = 50
h = 30
result = [str(round(math.sqrt(2* c * d/h))) for d in d_list]
print(','.join(result))

18,22,24

In [11]:
#7 and one class problem in pycharm
X = 3
Y = 4
x_result = []
for i in range(1,X+1):
    y_result = []
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12]]

In [15]:
#8
word_str = 'without,hello,bag,world'
result = [x for x in word_str.split(',')]
result.sort()
print(','.join(result))

bag,hello,without,world

In [45]:
#9
line = 'hello world\npractice makes perfect'
print(line)
print(line.split('\n'))
#lines = ['hello world','practice makes perfect']
print('\n'.join([x.upper() for x in line.split('\n')]))

hello world
practice makes perfect
['hello world', 'practice makes perfect']
HELLO WORLD
PRACTICE MAKES PERFECT

In [43]:
#10
mystring = 'hello world and practice makes perfect and hello world again'
my_list = mystring.split()
#print(my_list)
my_set = set(my_list)
#print(my_set)
l = list(my_set)
l.sort()
' '.join(l)

'again and hello makes perfect practice world'

In [42]:
#LC
mystring = 'hello world and practice makes perfect and hello world again'
words = [x for x in mystring.split()]
' '.join(sorted(list(set(words))))

'again and hello makes perfect practice world'

In [54]:
#11
input_string = '0100,0011,1010,1001'
input_list = input_string.split(',')
print(input_list)
new_list = []
for i in input_list:
    if int(i) % 5 == 0:
        new_list.append(i)
print(','.join(new_list))

['0100', '0011', '1010', '1001']
0100,1010

In [55]:
#LC
input_string = '0100,0011,1010,1001'
input_list = input_string.split(',')
print(input_list)
result = [x for x in input_list if int(x) % 5 == 0]
','.join(result)

['0100', '0011', '1010', '1001']

'0100,1010'

In [59]:
#12
result = []
for i in range(2000,3001):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0 and int(s[3]) % 2 == 0:
        result.append(s)
print(','.join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [69]:
#12
def odd_even(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [70]:
odd_even(212)

False

In [73]:
def com_odd_even(start,end):
    result = []
    for i in range(start,end+1):
        if odd_even(i):
            result.append(str(i))
    return ','.join(result)

In [75]:
com_odd_even(10,100)

'20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88'

In [83]:
#13
def letter_digit(s):
    count_letter = 0
    count_digit = 0
    
    for i in s:
        if i.isalpha():
            count_letter += 1
        elif i.isdigit():
            count_digit += 1
        else:
            pass
    return (f'LETTERS: {count_letter}\nDIGITS: {count_digit}')

In [85]:
print(letter_digit('hello world! 123'))

LETTERS: 10
DIGITS: 3

In [86]:
#14
def upper_lower(s):
    my_dict = {'upper':0, 'lower': 0}
    for i in s:
        if i.isupper():
            my_dict['upper'] += 1
        elif i.islower():
            my_dict['lower'] += 1
        else:
            pass
    return my_dict

In [88]:
new_var = upper_lower('Hello World!')

In [91]:
print(f"UPPER: {new_var['upper']}\nLOWER: {new_var['lower']}")

UPPER: 2
LOWER: 8

In [93]:
#15
def add_up(n):
    n1 = n
    print(n1)
    n2 = n1 + (n*10)
    print(n2)
    n3 = n2 + (n*100)
    print(n3)
    n4 = n3 + (n*1000) 
    print(n4)
    
    return n1+n2+n3+n4

In [95]:
add_up(9)

9
99
999
9999

11106

In [99]:
#16

def odd_square(s):
    n = s.split(',')
    new_list = []
    for i in n:
        if int(i) % 2 != 0:
            new_list.append(str(int(i)**2))
    return ','.join(new_list)

In [100]:
odd_square('1,2,3,4,5,6,7,8,9')

'1,9,25,49,81'

In [102]:
#LC
n = '1,2,3,4,5,6,7,8,9'
result = [str(int(i)**2) for i in n.split(',') if int(i)%2 != 0]
print(','.join(result))

1,9,25,49,81

In [107]:
## even number cubed--> monsur
def even_cube(s):
    n = s.split(',')
    new_list = []
    for i in n:
        if int(i) % 2 == 0:
            new_list.append(str(int(i)**3))
    return ','.join(new_list)

In [108]:
even_cube('1,2,3,4,5,6,7,8,9')

'8,64,216,512'

In [110]:
n = '1,2,3,4,5,6,7,8,9'
result = [str(int(i)**3) for i in n.split(',') if int(i) % 2 == 0]
print(','.join(result))

8,64,216,512

In [111]:
acc = "D 100,W 50,D 200, D  300, d 10, w 20"
new_list = acc.split(',')
print(new_list)

['D 100', 'W 50', 'D 200', ' D  300', ' d 10', ' w 20']

In [118]:
other_list = []
for i in new_list:
    other_list.append(tuple(i.split())) 
print(other_list)

[('D', '100'), ('W', '50'), ('D', '200'), ('D', '300'), ('d', '10'), ('w', '20')]

In [119]:
sum = 0
for i in other_list:
    if i[0].lower() == 'd':
        sum += int(i[1])
    elif i[0].lower() == 'w':
        sum -= int(i[1])
print(sum)

540

In [137]:
#17
def bank_account(mystring):
    new_list = mystring.split(',')
    other_list = []
    #this for loop splits data into tuple
    for i in new_list:
        other_list.append(tuple(i.split()))
        
    #this loop calculates running sum total using other list
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) != 2:
            raise Exception(f'Invalid entry found: {tup}, entry number:{index + 1}')
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance -= int(tup[1])
        else:
            raise Exception(f"Undefined value found: {tup[0]} in entry number: {index + 1}")
    return balance

In [138]:
bank_account('D 300, X 300, W 200, D 100, D')

Exception: Undefined value found: X in entry number: 2

In [127]:
s = 'D'
print(s.split())

['D']

In [163]:
#18
def get_criteria(s):
    d = {
            'letter between [a-z]' : False,
            'number between [0-9]' : False,
            'letter between [A-Z]' : False,
            'character from [$#@]' : False,
            'minimum length'    : False,
            'maximum length'    : False
        }
    
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
        if i.isalpha() and i.isupper():
            d['letter between [A-Z]'] = True
        if i in '$#@':
            d['character from [$#@]'] = True
        if len(s) >= 6:
            d['minimum length'] = True
        if len(s) <= 12:
            d['maximum length'] = True
            
    return d

def check_password(s):
    #get the criteria dictionary
    criteria = get_criteria(s)
    #filter out all unmatched_criteria from the criteria dictionary
    unmatched_criteria = []
    for key in criteria:
        if criteria[key] == False:
            unmatched_criteria.append(key)
    #print the output
    if len(unmatched_criteria) == 0:
        print('Good password')
    else:
        print('Bad password: reason : ')
        print('\n'.join(unmatched_criteria))

In [164]:
check_password('123')

Bad password: reason :
letter between [a-z]
letter between [A-Z]
character from [$#@]
minimum length

In [166]:
check_password('sab123')

Bad password: reason :
letter between [A-Z]
character from [$#@]

In [167]:
check_password('sab123V@')

Good password

In [168]:
check_password('sab123V@bnmrte')

Bad password: reason :
maximum length

In [169]:
check_password(' ')

Bad password: reason :
letter between [a-z]
number between [0-9]
letter between [A-Z]
character from [$#@]
minimum length

In [1]:
#19 Level 3
t = [('Tom',19,80),('John',20,90),('Jony',17,91),('Jony',17,93),('Json',21,85)]
print(t)

[('Tom', 19, 80), ('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85)]

In [5]:
from operator import itemgetter, attrgetter

sorted(t, key = itemgetter(2,1,0))

[('Tom', 19, 80),
 ('Json', 21, 85),
 ('John', 20, 90),
 ('Jony', 17, 91),
 ('Jony', 17, 93)]

In [10]:
#20
def square(n):
    print('Entered generator')
    i = 1
    while i <= n:
        print("I am inside while loop: " + str(i))
        sq = i*i
        i = i + 1
        yield sq
        
for i in square(10):
    print(i)

Entered generator
I am inside while loop: 1
1
I am inside while loop: 2
4
I am inside while loop: 3
9
I am inside while loop: 4
16
I am inside while loop: 5
25
I am inside while loop: 6
36
I am inside while loop: 7
49
I am inside while loop: 8
64
I am inside while loop: 9
81
I am inside while loop: 10
100

In [13]:
def square_return(n):
    print('Entered generator')
    i = 1
    while i <= n:
        print("I am inside while loop: " + str(i))
        sq = i*i
        i = i + 1
        yield sq

In [15]:
list(square_return(10))

Entered generator
I am inside while loop: 1
I am inside while loop: 2
I am inside while loop: 3
I am inside while loop: 4
I am inside while loop: 5
I am inside while loop: 6
I am inside while loop: 7
I am inside while loop: 8
I am inside while loop: 9
I am inside while loop: 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
#20 gen_comp- can use for loop but have to yield
def gen7(n):
    gen_comp = (i for i in range(1,n+1) if i % 7 == 0)
    return gen_comp

In [23]:
list(gen7(100))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [37]:
#21

robot_steps = [('u', 5), ('d', 3), ('l',3), ('r', 2)]
current_position = [0,0]
for i in robot_steps:
    direction = i[0]
    steps = i[1]
    if direction == 'u':
        current_position[1] += steps
    if direction == 'd':
        current_position[1] -= steps
    if direction == 'l':
        current_position[0] -= steps
    if direction == 'r':
        current_position[0] += steps
        
print(tuple(current_position))
 # dist = ((x2 - x1) **2 + (y2 - y1) **2)** 0.5
    #x1 = 0 and y1 = 0
dist = round(((current_position[0])**2 + (current_position[1])**2)**0.5,3)
dist

(-1, 2)

2.236

In [47]:
s ="Hello World"
s
t = "\"" + s +"\"" + "! How are you?"
print(t)

"Hello World"! How are you?

In [48]:
s = "New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3."

In [50]:
#22
new_list = s.split()
new_list
my_dict = {}
for word in new_list:
    if word not in my_dict:
        my_dict[word] = 1
    else:
        my_dict[word] += 1
print(my_dict)

{'New': 1, 'to': 1, 'Python': 5, 'or': 2, 'choosing': 1, 'between': 1, '2': 2, 'and': 1, '3?': 1, 'Read': 1, '3.': 1}

In [52]:
sorted_words = sorted(list(my_dict))

In [53]:
for word in sorted_words:
    print(f"{word}: {my_dict[word]}")

2: 2
3.: 1
3?: 1
New: 1
Python: 5
Read: 1
and: 1
between: 1
choosing: 1
or: 2
to: 1

In [67]:
#23
def square(n):
    """
     Returns square of the number
    """
    return n**2

In [63]:
square(4)

16

In [64]:
#24
print(abs.__doc__)

Return the absolute value of the argument.

In [65]:
print(len.__doc__)
print(input.__doc__)
print(int.__doc__)

Return the number of items in a container.
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [68]:
print(square.__doc__)

     Returns square of the number

In [73]:
#25
class Dog:
    pet_name = "Kutta"
    
    def __init__(self,name):
        #self.pet_name = name
        pass

In [74]:
dog_name = Dog("Modi")

In [75]:
dog_name.pet_name

'Kutta'

In [76]:
Dog.pet_name

'Kutta'

In [84]:
#26
def sum_of_numbers(n1,n2):
    """
    Sum always takes list and sums up numbers
    """
    return sum([n1,n2])

In [85]:
sum_of_numbers(4,5)

9

In [86]:
print(sum_of_numbers.__doc__)

    Sum always takes list and sums up numbers

In [87]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [88]:
#27
def int_str(n):
    s = str(n)
    print(s)

In [89]:
int_str(4)

4

In [90]:
#28
def print_value(n1,n2):
    print(int(n1) + int(n2))

In [91]:
print_value("10","5")

15

In [92]:
#29
def print_string(s1,s2):
    print(s1 + s2)

In [93]:
print_string("3","4")

34

In [94]:
#30
def print_max(s1,s2):
    if len(s1) > len(s2):
        print(s1)
    elif len(s2) > len(s1):
        print(s2)
    elif len(s1) == len(s2):
        print(s1)
        print(s2)

In [95]:
print_max("Monsur","Aydin")

Monsur

In [96]:
print_max("Monsur","Sabina")

Monsur
Sabina

In [97]:
print_max("Mazumdar","Barbhuiya")

Barbhuiya

In [98]:
#31
def odd_even(n):
    if n % 2 == 0:
        return "It is an even number"
    else:
        return "It is an odd number"

In [99]:
odd_even(3)

'It is an odd number'

In [100]:
odd_even(78)

'It is an even number'

In [101]:
#32
def dict_square(start,end):
    d = {}
    for i in range(start,end+1):
        d[i] = i**2
    return d

In [102]:
dict_square(1,3)

{1: 1, 2: 4, 3: 9}

In [103]:
#33
def dicty_square21(start,end):
    d = {}
    for i in range(start,end+1):
        d[i] = i**2
    return d

In [104]:
dicty_square21(1,20)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [109]:
#34
d = dicty_square21(1,10)
for k,v in d.items():
    print(f"Key: {k}, Value: {v}")

Key: 1, Value: 1
Key: 2, Value: 4
Key: 3, Value: 9
Key: 4, Value: 16
Key: 5, Value: 25
Key: 6, Value: 36
Key: 7, Value: 49
Key: 8, Value: 64
Key: 9, Value: 81
Key: 10, Value: 100

In [110]:
for i in d.values():
    print(i)

1
4
9
16
25
36
49
64
81
100

In [120]:
#35
def dict_key(start,end):
    d = {}
    for i in range(start,end+1):
        d[i] = i**2
    print('Dictionary:')
    print(d)
    print('\nKEYS')
    for k,v in d.items():
        print(k)

In [121]:
dict_key(1,20)

Dictionary:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

KEYS
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [126]:
#36
def list_square(n):
    result = [x**2 for x in range(1,n+1)]
    return result

In [127]:
list_square(20)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [137]:
#37
def list_square(n):
    result = [x**2 for x in range(1,n+1)]
    print(result)
    #for i in result[:5]:
    [print(i) for i in result[:5]]

In [138]:
list_square(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
1
4
9
16
25

In [141]:
#38
def list_square_last_five(n):
    new_list = [x**2 for x in range(1,n+1)]
    print(new_list)
    print(new_list[-5:])

In [142]:
list_square_last_five(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[36, 49, 64, 81, 100]

In [147]:
#39
def list_square_except_five(n):
    new_list = [x**2 for x in range(1,n+1)]
    print(new_list)
    print(new_list[5:])

In [148]:
list_square_except_five(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[36, 49, 64, 81, 100]

In [149]:
#40
def gen_tup(n):
    new_list = []
    for i in range(1,n+1):
        new_list.append(i**2)
    return tuple(new_list)

In [150]:
gen_tup(10)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [155]:
#LC
def gen_lc_tup(n):
    return tuple([x**2 for x in range(1,n+1)])

In [156]:
gen_lc_tup(10)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [168]:
#41
def half_tup(t):
    #'/' gives floating point and '//' gives int
    t_half = len(t)//2
    print(t[0:t_half])
    print(t[t_half:])

In [170]:
t =  (1,2,3,4,5,6,7,8,9,10)
half_tup(t)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [171]:
#42
def tup_list(t):
    new_list = []
    for i in t:
        if i % 2 == 0:
            new_list.append(i)
    return tuple(new_list)

In [172]:
t = (1,2,3,4,5,6,7,8,9,10)
tup_list(t)

(2, 4, 6, 8, 10)

In [173]:
#43
def say_yes(input):
    if input == 'yes' or input == 'YES' or input == 'Yes':
        print('Yes')
    else:
        print('No')

In [174]:
say_yes('Yes')

Yes

In [175]:
say_yes('Yeah')

No

In [177]:
#44
my_list =  [1,2,3,4,5,6,7,8,9,10]
even_numbers = filter(lambda x: x%2 ==0, my_list)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [178]:
#45
my_list =  [1,2,3,4,5,6,7,8,9,10]
square = map(lambda x: x**2,my_list)
print(list(square))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [181]:
#46
my_list =  [1,2,3,4,5,6,7,8,9,10]
square = map(lambda x: x**2, my_list)
even_numbers = filter(lambda x: x%2 == 0,square)
print(list(even_numbers))

[4, 16, 36, 64, 100]

In [2]:
#47
l = range(1,21)
filtered_items = filter(lambda x : x %2 == 0,l)
print(list(filtered_items))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
#48
squared_numbers = map(lambda x : x **2, range(1,21))
print(list(squared_numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [27]:
#49
class American:
    ticket = 0
    def __init__(self,citizen_name):
        self.citizen_name = citizen_name
        
    @staticmethod
    def printNationality():
        #print(self.citizen_name)
        print("America")
        print(American.ticket)
        American.ticket += 1

In [28]:
trumph = American('Donald')
trumph.printNationality()

America
0

In [47]:
#50
class American:
    def __init__(self,passport_no):
        self.passport_no = passport_no
        
    def get_passport_no(self):
        return passport_no
    
    def __str__(self):
        return f"I am American. My passport number is :{self.passport_no}"

class Newyorker(American):
    def __init__(self,passport_no,door_no):
        American.__init__(self,passport_no)
        self.door_no = door_no
        
    def __str__(self):
        return f"I am Newyorker.My passport number is: {self.passport_no}. My door number is: {self.door_no}"

In [48]:
an_american = American('34')
print(an_american)

I am American. My passport number is :34

In [49]:
will_smith = Newyorker('435465','26')
print(will_smith)

I am Newyorker.My passport number is: 435465. My door number is: 26

In [52]:
#51
class Circle:
    pi = 3.14
    def __init__(self,radius):
        self.radius = radius
        
    def area_circle(self):
        return Circle.pi * self.radius * self.radius

In [53]:
circle = Circle(3)
circle.radius

3

In [54]:
circle.area_circle()

28.259999999999998

In [55]:
#52
class Rectangle:
    def __init__(self,length,width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length * self.width

In [57]:
my_rect = Rectangle(3,10)
my_rect.get_area()

30

In [66]:
#53
class Shape:
    def area(self):
        return 0
    
class Rectangle(Shape):
    def __init__(self,length,width):
        Shape.__init__(self)
        self.length = length
        self.width = width
        
    def area(self):
        return self.length * self.width
    
class Square(Rectangle):
    def __init__(self,length):
        Rectangle.__init__(self,length,length)

In [67]:
s = Shape()
s.area()

0

In [70]:
sq = Square(7)
sq.area()

49

In [69]:
r = Rectangle(4,10)
r.area()

40

In [71]:
#54
def my_error():
    raise RuntimeError('End Game')

In [72]:
my_error()

RuntimeError: End Game

In [73]:
print(RuntimeError.__doc__)

Unspecified run-time error.

In [80]:
#55
def throws():
        l = []
        l[1] = 10

try:
    throws()
except ZeroDivisionError as ex:
    print(ex)
except Exception as ex:
    print(f"The other exception " + str(ex))
finally:
    print("All is well")

The other exception list assignment index out of range
All is well

In [127]:
#56
class MyError(Exception):
    pass
#     def __init__(self,msg):
#         #Exception.__init__(self,msg)
#         #self.msg1 = msg
#         pass

In [128]:
error = MyError("Blah")

In [129]:
print(error)

Blah

In [126]:
def my_throws():
        raise MyError("I created the error")

try:
    my_throws()
except MyError as ex:
    print(ex)
except Exception as ex:
    print(f"The other exception " + str(ex))
finally:
    print("All is well")

I created the error
All is well

In [170]:
#57
def email_to_name(email):
    new_list = email.split('@')
    print(new_list)
    name_part= new_list[0].split('.')
    print(name_part)
    company_part = new_list[1].split('.')
    print(company_part)
    
    print(' '.join(name_part).title())
    print(company_part[0].capitalize())
#     print(f"Name of User: {' '.join(name_part).title()}")
#     x = new_list[1].split('.')
#     print(f""x[0])

In [171]:
email_to_name('john.smith@gmail.com')

['john.smith', 'gmail.com']
['john', 'smith']
['gmail', 'com']
John Smith
Gmail

In [175]:
#58
s = '2 cats and 3 dogs.'
new_list = s.split()
new_list
other_list = []
for i in new_list:
    if i.isdigit():
        other_list.append(i)
print(other_list)

['2', '3']

In [176]:
#Lc
[x for x in s.split() if x.isdigit()]

['2', '3']