In [1]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num -1)

In [2]:
def factorial(n):
    num = 1
    while n >= 1:
        num = num * n
        n = n-1
    return num

In [25]:
#2
def fact(n):
    result = 1
    for i in range(1,n+1):
        result = result*i
    return result

In [31]:
fact(5)

120

In [16]:
#3
def div_mul(start,end):
    new_list = []
    for i in range(start,end+1):
        if i % 7 == 0 and i % 5 != 0:
            new_list.append(str(i))
    return ','.join(new_list)

In [19]:
div_mul(10,20)

'14'

In [20]:
def div_mul_lc(start,end):
    new_list = [str(i) for i in range(start,end+1) if i%7 == 0 and i%5 != 0]
    return ','.join(new_list)

In [21]:
div_mul_lc(10,30)

'14,21,28'

In [22]:
#4
def dicty_square(n):
    new_dict = {}
    for i in range(1,n+1):
        new_dict[i] = i*i
    return new_dict

In [23]:
dicty_square(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [24]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [32]:
#5
d = '34,67,55,33,12,98'
d.split(',')

['34', '67', '55', '33', '12', '98']

In [30]:
tuple(c)

('34', '67', '55', '33', '12', '98')

In [6]:
#6
import math
d_list = [100,150,180]
c = 50
h = 30
result = [str(round(math.sqrt(2* c * d/h))) for d in d_list]
print(','.join(result))

18,22,24

In [11]:
#7 and one class problem in pycharm
X = 3
Y = 4
x_result = []
for i in range(1,X+1):
    y_result = []
    for j in range(1,Y+1):
        y_result.append(i*j)
    x_result.append(y_result)
print(x_result)

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12]]

In [15]:
#8
word_str = 'without,hello,bag,world'
result = [x for x in word_str.split(',')]
result.sort()
print(','.join(result))

bag,hello,without,world

In [45]:
#9
line = 'hello world\npractice makes perfect'
print(line)
print(line.split('\n'))
#lines = ['hello world','practice makes perfect']
print('\n'.join([x.upper() for x in line.split('\n')]))

hello world
practice makes perfect
['hello world', 'practice makes perfect']
HELLO WORLD
PRACTICE MAKES PERFECT

In [43]:
#10
mystring = 'hello world and practice makes perfect and hello world again'
my_list = mystring.split()
#print(my_list)
my_set = set(my_list)
#print(my_set)
l = list(my_set)
l.sort()
' '.join(l)

'again and hello makes perfect practice world'

In [42]:
#LC
mystring = 'hello world and practice makes perfect and hello world again'
words = [x for x in mystring.split()]
' '.join(sorted(list(set(words))))

'again and hello makes perfect practice world'

In [54]:
#11
input_string = '0100,0011,1010,1001'
input_list = input_string.split(',')
print(input_list)
new_list = []
for i in input_list:
    if int(i) % 5 == 0:
        new_list.append(i)
print(','.join(new_list))

['0100', '0011', '1010', '1001']
0100,1010

In [55]:
#LC
input_string = '0100,0011,1010,1001'
input_list = input_string.split(',')
print(input_list)
result = [x for x in input_list if int(x) % 5 == 0]
','.join(result)

['0100', '0011', '1010', '1001']

'0100,1010'

In [59]:
#12
result = []
for i in range(2000,3001):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0 and int(s[3]) % 2 == 0:
        result.append(s)
print(','.join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [69]:
#12
def odd_even(n):
    s = str(n)
    for i in s:
        if int(i) % 2 != 0:
            return False
    return True

In [70]:
odd_even(212)

False

In [73]:
def com_odd_even(start,end):
    result = []
    for i in range(start,end+1):
        if odd_even(i):
            result.append(str(i))
    return ','.join(result)

In [75]:
com_odd_even(10,100)

'20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88'

In [83]:
#13
def letter_digit(s):
    count_letter = 0
    count_digit = 0
    
    for i in s:
        if i.isalpha():
            count_letter += 1
        elif i.isdigit():
            count_digit += 1
        else:
            pass
    return (f'LETTERS: {count_letter}\nDIGITS: {count_digit}')

In [85]:
print(letter_digit('hello world! 123'))

LETTERS: 10
DIGITS: 3

In [86]:
#14
def upper_lower(s):
    my_dict = {'upper':0, 'lower': 0}
    for i in s:
        if i.isupper():
            my_dict['upper'] += 1
        elif i.islower():
            my_dict['lower'] += 1
        else:
            pass
    return my_dict

In [88]:
new_var = upper_lower('Hello World!')

In [91]:
print(f"UPPER: {new_var['upper']}\nLOWER: {new_var['lower']}")

UPPER: 2
LOWER: 8

In [93]:
#15
def add_up(n):
    n1 = n
    print(n1)
    n2 = n1 + (n*10)
    print(n2)
    n3 = n2 + (n*100)
    print(n3)
    n4 = n3 + (n*1000) 
    print(n4)
    
    return n1+n2+n3+n4

In [95]:
add_up(9)

9
99
999
9999

11106

In [99]:
#16

def odd_square(s):
    n = s.split(',')
    new_list = []
    for i in n:
        if int(i) % 2 != 0:
            new_list.append(str(int(i)**2))
    return ','.join(new_list)

In [100]:
odd_square('1,2,3,4,5,6,7,8,9')

'1,9,25,49,81'

In [102]:
#LC
n = '1,2,3,4,5,6,7,8,9'
result = [str(int(i)**2) for i in n.split(',') if int(i)%2 != 0]
print(','.join(result))

1,9,25,49,81

In [107]:
## even number cubed--> monsur
def even_cube(s):
    n = s.split(',')
    new_list = []
    for i in n:
        if int(i) % 2 == 0:
            new_list.append(str(int(i)**3))
    return ','.join(new_list)

In [108]:
even_cube('1,2,3,4,5,6,7,8,9')

'8,64,216,512'

In [110]:
n = '1,2,3,4,5,6,7,8,9'
result = [str(int(i)**3) for i in n.split(',') if int(i) % 2 == 0]
print(','.join(result))

8,64,216,512

In [111]:
acc = "D 100,W 50,D 200, D  300, d 10, w 20"
new_list = acc.split(',')
print(new_list)

['D 100', 'W 50', 'D 200', ' D  300', ' d 10', ' w 20']

In [118]:
other_list = []
for i in new_list:
    other_list.append(tuple(i.split())) 
print(other_list)

[('D', '100'), ('W', '50'), ('D', '200'), ('D', '300'), ('d', '10'), ('w', '20')]

In [119]:
sum = 0
for i in other_list:
    if i[0].lower() == 'd':
        sum += int(i[1])
    elif i[0].lower() == 'w':
        sum -= int(i[1])
print(sum)

540

In [137]:
#17
def bank_account(mystring):
    new_list = mystring.split(',')
    other_list = []
    #this for loop splits data into tuple
    for i in new_list:
        other_list.append(tuple(i.split()))
        
    #this loop calculates running sum total using other list
    balance = 0
    for index,tup in enumerate(other_list):
        if len(tup) != 2:
            raise Exception(f'Invalid entry found: {tup}, entry number:{index + 1}')
        if tup[0].lower() == 'd':
            balance += int(tup[1])
        elif tup[0].lower() == 'w':
            balance -= int(tup[1])
        else:
            raise Exception(f"Undefined value found: {tup[0]} in entry number: {index + 1}")
    return balance

In [138]:
bank_account('D 300, X 300, W 200, D 100, D')

Exception: Undefined value found: X in entry number: 2

In [127]:
s = 'D'
print(s.split())

['D']

In [142]:
def get_criteria(s):
    d = {
            'letter between [a-z]' : False,
            'number between [0-9]' : False,
        }
    
    for i in s:
        if i.isalpha() and i.islower():
            d['letter between [a-z]'] = True
        if i.isdigit():
            d['number between [0-9]'] = True
    return d

def check_password(s):
    #get the criteria dictionary
    criteria = get_criteria(s)
    #filter out all unmatched_criteria from the criteria dictionary
    unmatched_criteria = []
    for key in criteria:
        if criteria[key] == False:
            unmatched_criteria.append(key)
    #print the output

In [143]:
password('sabina')

{'letter between [a-z]': True, 'number between [0-9]': False}

In [144]:
password('sab123')

{'letter between [a-z]': True, 'number between [0-9]': True}